/* CSS For admin page - Itinerary Builder Data input */
#admin_day_container {
	width: 100%;
	max-width: 800px;
}

.admin_itibuilder_prov {
  padding: 10px;
  border: #67d5ff;
  border-width: 4px;
  border-style: outset;
  margin-bottom: 10px;
}

.admin_itibuilder_btndelprov {
  float: right;
}

.admin_itibuilder_btndelplace {
  margin-left: 4px;
}

