.btn_delete
{
	color: white;
	font-weight: bold;
	background-color : #DF0707;
}


.metabox_branch_title
{
	font-weight:  bold;
	border: 2px solid #E0E0E0;
}

.metabox_branch_table
{
	padding: 5px 20px;
}