/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so LESS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
img.clickable:hover {
  cursor: pointer;
  cursor: hand;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.


@font-face {
  	font-family: 'Font Name';
   	src: url('../fonts/font-name.eot');
   	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-name.woff') format('woff'),
         url('../fonts/font-name.ttf') format('truetype'),
         url('../fonts/font-name.svg#font-name') format('svg');
   	font-weight: normal;
   	font-style: normal;
}
*/
@font-face {
  font-family: "icons";
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icons_social";
  src: url("../fonts/entypo-social.eot");
  src: url("../fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-social.woff") format("woff"), url("../fonts/entypo-social.ttf") format("truetype"), url("../fonts/entypo-social.svg#icons_social") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kingthings_petrockregular';
  src: url('../fonts/Kingthings_Petrock-webfont.eot');
  src: url('../fonts/Kingthings_Petrock-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Kingthings_Petrock-webfont.woff') format('woff'), url('../fonts/Kingthings_Petrock-webfont.ttf') format('truetype'), url('../fonts/Kingthings_Petrock-webfont.svg#kingthings_petrockregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  color: #ff6600;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h1 a:visited,
.h1 a:visited,
h2 a:visited,
.h2 a:visited,
h3 a:visited,
.h3 a:visited,
h4 a:visited,
.h4 a:visited,
h5 a:visited,
.h5 a:visited {
  color: #ff6600;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
h3,
.h3 {
  font-size: 1.125em;
}
h4,
.h4 {
  font-size: 1.2em;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 0.846em;
  font-weight: 600;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* floats */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.no-decoration {
  text-decoration: none;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
.text-lblack-caps {
  color: #3a3a3a;
  text-transform: uppercase;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
.boxed {
  background-color: white;
  border: 1px solid #d5d5d5;
  padding: 0.5em;
}
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  /*border: 1px solid darken(@bones-pink, 13%);
	border-top-color: darken(@bones-pink, 7%);
	border-left-color: darken(@bones-pink, 7%);
	padding: 4px 12px;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px rgba(0,0,0, .75);
	.css-gradient(@bones-pink,darken(@bones-pink, 5%));
	*/
  background: url(../images/arrow-right.png) no-repeat 5px 5px #40c0ff;
  background: url(../images/arrow-right.png) no-repeat 0.5rem 0.5rem #40c0ff;
  border: none;
  padding: 3px 12px 3px 25px;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  font-family: 'Oswald', Arial, sans-serif;
  text-decoration: none;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  background-color: #45cbff;
  color: #ffffff;
  /*
	  	border: 1px solid darken(@bones-pink, 13%);
	  	border-top-color: darken(@bones-pink, 20%);
	 	border-left-color: darken(@bones-pink, 20%);
		.css-gradient(darken(@bones-pink, 5%),darken(@bones-pink, 10%));
		*/
}
.button:active,
.button:visited:active {
  background-color: #45cbff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2bc4ff), to(#45cbff));
  background-image: -webkit-linear-gradient(top, #2bc4ff, #45cbff);
  background-image: -moz-linear-gradient(top, #2bc4ff, #45cbff);
  background-image: -o-linear-gradient(top, #2bc4ff, #45cbff);
  background-image: linear-gradient(to bottom, #2bc4ff, #45cbff);
}
.orange-button,
.orange-button:visited {
  background-color: #ffc549;
  padding: 3px 12px;
  color: #ffffff;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  font-family: 'Oswald', Arial, sans-serif;
  text-decoration: none;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.orange-button:hover,
.orange-button:visited:hover,
.orange-button:focus,
.orange-button:visited:focus {
  background-color: #fbab00;
  color: #000000;
}
.blue-pill-button {
  background: url(../images/ib-btn-swap.png) no-repeat;
  background-size: 100% 100%;
  font-weight: bold;
  font-size: 11px;
  color: #01a2e1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
}
/* import grid */
/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
.onecol {
  width: 5.801104972%;
}
/* 4.85%;  } /* grid_1  */
.twocol {
  width: 14.364640883%;
}
/* 13.45%; } /* grid_2  */
.threecol {
  width: 22.928176794%;
}
/* 22.05%; } /* grid_3  */
.fourcol {
  width: 31.491712705%;
}
/* 30.75%; } /* grid_4  */
.fivecol {
  width: 40.055248616%;
}
/* 39.45%; } /* grid_5  */
.sixcol {
  width: 48.618784527%;
}
/* 48%;    } /* grid_6  */
.sevencol {
  width: 57.182320438000005%;
}
/* 56.75%; } /* grid_7  */
.eightcol {
  width: 65.74585634900001%;
}
/* 65.4%;  } /* grid_8  */
.ninecol {
  width: 74.30939226%;
}
/* 74.05%; } /* grid_9  */
.tencol {
  width: 82.87292817100001%;
}
/* 82.7%;  } /* grid_10 */
.elevencol {
  width: 91.436464082%;
}
/* 91.35%; } /* grid_11 */
.twelvecol {
  width: 99.999999993%;
}
/* 100%;   } /* grid_12 */
.one-fifth {
  width: 17.790056%;
}
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol,
.one-fifth {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}
.first {
  margin-left: 0;
}
.last .last-tr {
  float: right;
}
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
select {
  font-size: 120%;
  background-position: 55px -110px;
  background-position: 5.5rem -11rem;
}
.header nav {
  display: block;
  position: static;
}
.footer nav {
  display: none;
}
#header-child-large {
  /*display: block;*/
  display: none;
}
#site-banner {
  display: inherit;
  background-size: 1240px;
  height: 450px;
}
#banner-text-mobile {
  display: none;
}
#landing-options {
  display: block;
  margin-top: 116px;
  padding-right: 6%;
  float: right;
  width: 45%;
}
#landing-options p {
  text-align: right;
}
#landing-options select {
  float: right;
  font-size: 16px;
}
#landing-options input {
  float: right;
}
#landing-options-mobile {
  display: none;
}
#landing-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
}
#landing-submit {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 0;
  padding: 10px 16px;
  margin: 0 0 0 16px;
  background-color: #40c0ff;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
#social-large {
  display: inline;
}
#testi-wrapper {
  display: inline-block;
}
#features {
  display: inherit;
}
#promo-wrapper {
  height: 160px;
}
#promo-wrapper img {
  width: 100%;
  height: 100%;
}
.featured-img img {
  max-width: 70%;
}
.feature-img-thumb {
  width: 300px;
  height: auto;
}
.feature-img-med {
  width: 450px;
  height: auto;
}
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap,
.tr-wrap {
  max-width: 1140px;
}
/*********************
HEADER STYLES
*********************/
.header {
  margin-top: 40px;
}
.header nav {
  background: #40c0ff;
}
#logo-wrapper {
  overflow: hidden;
  height: 140px;
  margin-top: 12px;
  text-align: center;
}
#logo-wrapper img {
  width: 100%;
}
/* For social media icons */
.sm-nav {
  width: 40px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.sm-nav a {
  margin: 0;
  padding: 0;
}
.sm-nav img {
  max-width: 100%;
}
/*********************
NAVIGATION STYLES
*********************/
.nav {
  background: none;
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
.nav ul {
  margin-top: 0;
}
.nav li {
  float: left;
  position: relative;
  /*
		plan your menus and drop-downs wisely.
		*/
  /* showing sub-menus */
}
.nav li a {
  border-bottom: 0;
  /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
}
.nav li a:hover,
.nav li a:focus {
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background-color: #fff;
}
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  z-index: 8999;
  /* highlight sub-menu current page */
}
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
.nav li:hover ul {
  top: auto;
  overflow: visible;
  visibility: visible;
}
.nav li.current-menu-item a,
.nav li.current_page_item a,
.nav li.current_page_ancestor a {
  color: black;
  background-color: #fff;
  /*text-shadow: 1px 1px 1px #333;*/
  font-weight: bold;
  letter-spacing: 1px;
}
/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
#sidebar1 {
  display: block;
}
.sidebar {
  margin-top: 0;
}
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}
/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
}
/* end .footer-links */
/*********************
POSTS & CONTENT STYLES
*********************/
#content {
  margin-top: 2.2em;
  /* Height of the footer element = 42px */
  padding-bottom: 42px;
}
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */
}
.entry-content .alignleft,
.entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright,
.entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
/* end .entry-content */
.places-title,
.single-title,
.page-title {
  padding: 0 1em;
  text-align: left;
}
/*********************
Single Post STYLES
*********************/
/*********************
Form STYLES
*********************/
.mid-form-center {
  margin: 0 auto;
  width: 550px;
  padding: 30px;
}
/*********************
 Testimonial STYLES
*********************/
#testi-wrapper {
  background-color: #fff;
}
.testi-box {
  padding: 1.5em 1em 0.5em 1em;
  margin-top: 12px;
  background-color: #ffffff;
  border: 5px solid #FFC549;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  position: relative;
}
.testi-arrow {
  background-image: url(../images/testi-arrow-down.png);
  background-repeat: no-repeat;
  margin-left: -16px;
  position: absolute;
  left: 85%;
  bottom: -20px;
  display: block;
  width: 60px;
  height: 20px;
}
.testi-text {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0 0.5em;
}
.testi-author {
  text-align: right;
  margin: 0.5em 1em 0 1em;
  font-style: italic;
}
/*********************
 Home Page STYLES
*********************/
#features-mobile {
  display: none;
}
#social-mobile {
  display: none;
}
/*********************
 Feature Box STYLES
*********************/
.features-wrapper {
  padding: 0px;
  margin-top: 1em;
  /*background-color: #fff;*/
  position: relative;
  text-align: center;
}
.features-wrapper p {
  text-align: right;
  margin: 0;
}
.features-wrapper img {
  width: 100%;
}
.feat-head {
  margin: 0 1em;
  width: 100%;
}
.feat-img {
  float: left;
  width: 20%;
}
.feat-img img {
  max-width: 100%;
}
.feat-title {
  color: #ff6600;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
  font-size: 1.125em;
  float: left;
  width: 70%;
  margin-top: 1em;
  color: #F60;
  text-align: center;
}
.feat-title a,
.feat-title a:visited {
  color: #ff6600;
  text-decoration: none;
}
.feat-text {
  text-align: center;
  font-size: 12px;
  font-size: 1.2em;
  margin: 10px 5px;
  height: 3em;
}
/*********************
Home Popular Box STYLES
*********************/
.popular-box {
  margin: 0;
}
.popular-box-h .pop-header {
  width: auto;
  margin: 1.2em 0.5em;
  font-size: 1.3em;
}
.popular-box-h select {
  margin: 12px 0 0 5px;
  background-position: 75px -112px;
  background-position: 7.5rem -11.2rem;
  width: 140px;
}
.popular-box-h .button {
  margin: 18px 5px 0 0;
}
.hscroll-div {
  overflow: auto;
  height: auto;
  width: auto;
}
.placecard-mini {
  width: 47.618784527%;
  margin: 7px 0 7px 1.3%;
  overflow: hidden;
  float: left;
  display: inline;
}
/*********************
Search form STYLES
*********************/
.search-taiwan {
  margin-top: 0;
}
.search-lefthalf {
  float: none;
  width: auto;
}
.search-righthalf {
  float: none;
  margin: 10px 0;
  width: auto;
}
#adv-search {
  font-size: 110%;
}
#adv-search img {
  width: 20px;
  height: 20px;
  margin: 0 5px -6px 0;
}
.results-box {
  min-height: 50%;
}
.post-card-horizontal img {
  width: 35%;
  float: left;
  margin: 0 5px 5px 0;
}
.post-card-horizontal .search-img {
  width: 90%;
  float: left;
  margin: 0;
}
#searchform_top_m {
  display: none;
}
#searchform_top {
  display: block;
  float: right;
  margin: 5px 10px;
}
#searchform_top input {
  padding: 4px;
}
#top-bar .icon-menu {
  display: none;
}
.tr-card {
  height: 300px;
  font-size: 100%;
}
.tr-card .tr-card-img {
  height: 140px;
}
.tr-card .tr-card-title {
  height: 35px;
}
#sticky-footer-toolbar {
  display: none;
}
#sticky-sidebar {
  display: block;
}
.sticky {
  float: none;
  position: fixed;
  top: 20px;
  z-index: 6;
  left: auto;
}
#hl-container {
  display: block;
}
#hl-container-mobile {
  display: none;
}
#hl-go-details {
  display: block;
}
.iti-action-btn {
  display: block;
  float: right;
  background-color: #40c0ff;
  padding: 8px 8px 4px 8px;
  cursor: pointer;
}
.iti-action-btn img {
  width: 40px;
}
.iti-action-btn p {
  margin: 0;
  color: white;
  font-weight: bold;
  text-align: center;
}
#iti-maps {
  position: relative;
  margin-top: 0px;
  width: 100%;
}
.iti-highlight {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: 200%;
  background-position: center;
  margin-bottom: 10px;
  width: 100%;
  padding-top: 100%;
}
.iti-overview-arrow {
  display: block;
  font-size: 140%;
}
#iti-trail {
  display: block;
  position: relative;
}
#iti-trail-mobile {
  display: none;
}
.iti-trail-label {
  position: absolute;
  left: 50px;
}
#iti-navi {
  display: block;
}
.swap-dialog-title {
  font-size: 13.2px;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
.tr-wrap {
  max-width: 1000px;
}
#site-banner {
  margin-top: 0px;
}
#promo-wrapper {
  height: 200px;
}
#logo-wrapper img {
  height: 100%;
  width: auto;
}
/*********************
Home Popular Box STYLES
*********************/
.placecard-mini {
  width: 31.491712705%;
  margin: 15px 0 0 1.3%;
}
/*********************
 Feature Box STYLES
*********************/
.feat-title {
  color: #ff6600;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
.feat-title a,
.feat-title a:visited {
  color: #ff6600;
  text-decoration: none;
}
/*********************
Single Post STYLES
*********************/
.tr-card {
  height: 300px;
}
#itibuilder-control {
  padding: 0 60px;
}
#control-prov td {
  padding: 0px 20px 4px 0px;
}
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
