/******************************************************************
Site Name: 
Author: 

Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your 
functions file) on the login page. This way you can style 
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
img.clickable:hover {
  cursor: pointer;
  cursor: hand;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.


@font-face {
  	font-family: 'Font Name';
   	src: url('../fonts/font-name.eot');
   	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-name.woff') format('woff'),
         url('../fonts/font-name.ttf') format('truetype'),
         url('../fonts/font-name.svg#font-name') format('svg');
   	font-weight: normal;
   	font-style: normal;
}
*/
@font-face {
  font-family: "icons";
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icons_social";
  src: url("../fonts/entypo-social.eot");
  src: url("../fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-social.woff") format("woff"), url("../fonts/entypo-social.ttf") format("truetype"), url("../fonts/entypo-social.svg#icons_social") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kingthings_petrockregular';
  src: url('../fonts/Kingthings_Petrock-webfont.eot');
  src: url('../fonts/Kingthings_Petrock-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Kingthings_Petrock-webfont.woff') format('woff'), url('../fonts/Kingthings_Petrock-webfont.ttf') format('truetype'), url('../fonts/Kingthings_Petrock-webfont.svg#kingthings_petrockregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  color: #ff6600;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h1 a:visited,
.h1 a:visited,
h2 a:visited,
.h2 a:visited,
h3 a:visited,
.h3 a:visited,
h4 a:visited,
.h4 a:visited,
h5 a:visited,
.h5 a:visited {
  color: #ff6600;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
h3,
.h3 {
  font-size: 1.125em;
}
h4,
.h4 {
  font-size: 1.2em;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 0.846em;
  font-weight: 600;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* floats */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.no-decoration {
  text-decoration: none;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
.text-lblack-caps {
  color: #3a3a3a;
  text-transform: uppercase;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
.boxed {
  background-color: white;
  border: 1px solid #d5d5d5;
  padding: 0.5em;
}
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  /*border: 1px solid darken(@bones-pink, 13%);
	border-top-color: darken(@bones-pink, 7%);
	border-left-color: darken(@bones-pink, 7%);
	padding: 4px 12px;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px rgba(0,0,0, .75);
	.css-gradient(@bones-pink,darken(@bones-pink, 5%));
	*/
  background: url(../images/arrow-right.png) no-repeat 5px 5px #40c0ff;
  background: url(../images/arrow-right.png) no-repeat 0.5rem 0.5rem #40c0ff;
  border: none;
  padding: 3px 12px 3px 25px;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  font-family: 'Oswald', Arial, sans-serif;
  text-decoration: none;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  background-color: #45cbff;
  color: #ffffff;
  /*
	  	border: 1px solid darken(@bones-pink, 13%);
	  	border-top-color: darken(@bones-pink, 20%);
	 	border-left-color: darken(@bones-pink, 20%);
		.css-gradient(darken(@bones-pink, 5%),darken(@bones-pink, 10%));
		*/
}
.button:active,
.button:visited:active {
  background-color: #45cbff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2bc4ff), to(#45cbff));
  background-image: -webkit-linear-gradient(top, #2bc4ff, #45cbff);
  background-image: -moz-linear-gradient(top, #2bc4ff, #45cbff);
  background-image: -o-linear-gradient(top, #2bc4ff, #45cbff);
  background-image: linear-gradient(to bottom, #2bc4ff, #45cbff);
}
.orange-button,
.orange-button:visited {
  background-color: #ffc549;
  padding: 3px 12px;
  color: #ffffff;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  font-family: 'Oswald', Arial, sans-serif;
  text-decoration: none;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.orange-button:hover,
.orange-button:visited:hover,
.orange-button:focus,
.orange-button:visited:focus {
  background-color: #fbab00;
  color: #000000;
}
.blue-pill-button {
  background: url(../images/ib-btn-swap.png) no-repeat;
  background-size: 100% 100%;
  font-weight: bold;
  font-size: 11px;
  color: #01a2e1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
}
[class*="icon-"] {
  background-image: none;
  display: inline;
  font-size: 1em;
  font-style: normal !important;
  font-weight: normal !important;
  height: 1em;
  overflow: visible;
  width: 1em;
}
[class*="icon-"]::before {
  content: '+';
  display: inline-block;
  font-family: "icons", "icons_social", fantasy !important;
  line-height: 1;
  position: relative;
  top: -2px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.hide {
  clip: rect(1px, 1px, 1px, 1px);
  height: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}
.icon-login-fb::before {
  content: "";
  font-size: 3rem;
  line-height: 0.5;
}
.icon-login-fb {
  color: #ffffff;
  float: left;
  margin-left: 4px;
}
#fb_login_form {
  text-align: center;
  margin: 10px 0 20px 0;
  padding: 8px;
  background: white;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#fb_login_form p {
  vertical-align: top;
  font-size: 120%;
  color: #777;
}
#fb_login_form a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}
#fb_login_form #btn_login_with_fb {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 5px;
  background-color: #3b5999;
}
#fb_login_form #fb_login_loading {
  background: url(../images/rect-loader.gif) no-repeat top center;
  width: 100%;
  height: 20px;
}
#login {
  width: 320px;
  padding: 8% 0 0;
  margin: auto;
}
/* the form box */
body.login {
  /*
	This is the Wordpress logo in the admin area.
	You'll have to load your own images and mess
	with the width and height.
	*/
  /*
	You'll have to override some of the default styles
	but since we're referencing the id, it should be easy.
	*/
  /* login button*/
}
body.login h1 a {
  background: url(../images/hhp_logo2_small.png) no-repeat top center;
  /* make sure to replace this! */
  width: 140px;
  height: 140px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block;
  margin: 0 auto 25px;
}
body.login form {
  margin-left: 8px;
  padding: 26px 24px 46px;
  font-weight: normal;
  background: white;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
body.login form .input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 20px;
  width: 97%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #E5E5E5;
  background: #FBFBFB;
  outline: none;
  -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
  -moz-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
  box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
}
body.login form input#user_dob {
  width: 80%;
}
body.login .form-title {
  color: #45cbff;
  font-size: 150%;
  text-align: center;
}
body.login #login_error {
  border-left: 4px solid #dd3d36;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 12px;
}
body.login #logintext_or {
  font-size: 120%;
  color: #777;
  text-align: center;
  margin-bottom: 10px;
}
