/*

This is the stylesheet used by the PDF export function

*/

h1, 
h2, 
h3, 
h4, 
h5 {
	color: #01a2e1;
	margin: 2px;
}

p {
	font-family: Consolas, Monaco, monospace;
	font-size: 14pt;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}


.text-full-justify {
	text-align: justify;
    text-justify: inter-word;
    margin-top: 0;
}

.page-template-page-iti-builder-print {
	background-color: darkgray;
}

#print-content {
	width: 8.27in; 
	margin: 0 auto;
	overflow: hidden;
}

.print-page {
	background-color: white;
	width: 100%;
	height: 11.69in;
	margin-bottom: 30px;
}

.page-margin-div {
	height: 0.4in;
	background-color: transparent;
}

.box-padding {
	padding: 12px;
}

.rounded-box {
	/* CSS Border */
	border-radius: 20px; 
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
}

.gray-gradient {
	/* CSS Gradient */
	background-color: #EBEBEB;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#FFFFFF));
	background-image: -webkit-linear-gradient(top, #EBEBEB, #FFFFFF);
	background-image: -moz-linear-gradient(top, #EBEBEB, #FFFFFF);
	background-image: -o-linear-gradient(top, #EBEBEB, #FFFFFF);
	background-image: linear-gradient(to bottom, #EBEBEB, #FFFFFF);
}

#cover-iti-date {
	text-align: center;
  	padding-top: 8.2in;
  	color: #32CCFE;
  	font-weight: bold;
  	font-size: 2em;
}

.page-day-display {
	margin: 0px 16px 0px 0px;
	padding: 0px;
}

.place-header-container {
	padding: 1px;
	margin: 0px 16px 8px 16px;
	color: white;

	border: 2px solid #367FA6;
	
	/* CSS Gradient */
	background-color: #44A0D1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#44A0D1), to(#32CCFE));
	background-image: -webkit-linear-gradient(top, #44A0D1, #32CCFE);
	background-image: -moz-linear-gradient(top, #44A0D1, #32CCFE);
	background-image: -o-linear-gradient(top, #44A0D1, #32CCFE);
	background-image: linear-gradient(to bottom, #44A0D1, #32CCFE);
}

.place-title {
	margin: 0;
	padding: 0 0 0 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20pt;
	font-weight: bold;
}

.half-container {
	width: 40%;
	height: 4in;
	max-height: 4in; /* Max height has no effect on mPDF */ 
    overflow: hidden;
	border: 2px solid #AEAEAE;
	margin-bottom: 40px;
}

.half-c-left {
	float: left;
	margin-left: 3%;
}

.half-c-right {
	float: right;
	margin-right: 3%;
}

.half-container-img {
	height: 1.5in;
	width: 100%;
	background-size: contain;
}

.half-container-img-full {	
	width: 100%;
	height: auto;
}

.print-feat-img {
	margin: 0px 20px 20px 20px;
	text-align: center;
	overflow: hidden;

	height: 4in;
}
