/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
img.clickable:hover {
  cursor: pointer;
  cursor: hand;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.


@font-face {
  	font-family: 'Font Name';
   	src: url('../fonts/font-name.eot');
   	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-name.woff') format('woff'),
         url('../fonts/font-name.ttf') format('truetype'),
         url('../fonts/font-name.svg#font-name') format('svg');
   	font-weight: normal;
   	font-style: normal;
}
*/
@font-face {
  font-family: "icons";
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icons_social";
  src: url("../fonts/entypo-social.eot");
  src: url("../fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-social.woff") format("woff"), url("../fonts/entypo-social.ttf") format("truetype"), url("../fonts/entypo-social.svg#icons_social") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kingthings_petrockregular';
  src: url('../fonts/Kingthings_Petrock-webfont.eot');
  src: url('../fonts/Kingthings_Petrock-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Kingthings_Petrock-webfont.woff') format('woff'), url('../fonts/Kingthings_Petrock-webfont.ttf') format('truetype'), url('../fonts/Kingthings_Petrock-webfont.svg#kingthings_petrockregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  color: #FF6600;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h1 a:visited,
.h1 a:visited,
h2 a:visited,
.h2 a:visited,
h3 a:visited,
.h3 a:visited,
h4 a:visited,
.h4 a:visited,
h5 a:visited,
.h5 a:visited {
  color: #FF6600;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
h3,
.h3 {
  font-size: 1.125em;
}
h4,
.h4 {
  font-size: 1.2em;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 0.846em;
  font-weight: 600;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* floats */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.no-decoration {
  text-decoration: none;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
.text-lblack-caps {
  color: #3a3a3a;
  text-transform: uppercase;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
.boxed {
  background-color: white;
  border: 1px solid #d5d5d5;
  padding: 0.5em;
}
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  /*border: 1px solid darken(@bones-pink, 13%);
	border-top-color: darken(@bones-pink, 7%);
	border-left-color: darken(@bones-pink, 7%);
	padding: 4px 12px;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px rgba(0,0,0, .75);
	.css-gradient(@bones-pink,darken(@bones-pink, 5%));
	*/
  background: url(../images/arrow-right.png) no-repeat 5px 5px #40c0ff;
  background: url(../images/arrow-right.png) no-repeat 0.5rem 0.5rem #40c0ff;
  border: none;
  padding: 3px 12px 3px 25px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  font-family: 'Oswald', Arial, sans-serif;
  text-decoration: none;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  background-color: #45CBFF;
  color: #fff;
  /*
	  	border: 1px solid darken(@bones-pink, 13%);
	  	border-top-color: darken(@bones-pink, 20%);
	 	border-left-color: darken(@bones-pink, 20%);
		.css-gradient(darken(@bones-pink, 5%),darken(@bones-pink, 10%));
		*/
}
.button:active,
.button:visited:active {
  background-color: #45CBFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2bc4ff), to(#45CBFF));
  background-image: -webkit-linear-gradient(top, #2bc4ff, #45CBFF);
  background-image: -moz-linear-gradient(top, #2bc4ff, #45CBFF);
  background-image: -o-linear-gradient(top, #2bc4ff, #45CBFF);
  background-image: linear-gradient(to bottom, #2bc4ff, #45CBFF);
}
.orange-button,
.orange-button:visited {
  background-color: #FFC549;
  padding: 3px 12px;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  font-family: 'Oswald', Arial, sans-serif;
  text-decoration: none;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.orange-button:hover,
.orange-button:visited:hover,
.orange-button:focus,
.orange-button:visited:focus {
  background-color: #fbab00;
  color: #000;
}
.blue-pill-button {
  background: url(../images/ib-btn-swap.png) no-repeat;
  background-size: 100% 100%;
  font-weight: bold;
  font-size: 11px;
  color: #01a2e1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
}
.blue-pill-button {
  background: url(../images/ib-btn-swap.png) no-repeat;
  background-size: 100% 100%;
  font-weight: bold;
  font-size: 11px;
  color: #01a2e1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
}
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/
.header nav {
  display: none;
  top: 40;
  right: 0;
  z-index: 5;
  /* Fallback for web browsers that doesn't support RGBa */
  background: #00b7ff;
  /* RGBa with 0.6 opacity */
  background: rgba(0, 183, 255, 0.8);
}
#header-child-large {
  display: none;
}
#site-banner {
  background: url("../images/taipei101-banner.jpg") no-repeat center center;
  background-size: cover;
  height: 250px;
  margin-top: 0px;
}
#banner-text-mobile {
  width: 40%;
  float: right;
  margin-top: 70px;
}
#banner-text-mobile p {
  text-align: right;
  color: white;
  font-size: large;
  padding-right: 10px;
}
#landing-options {
  display: none;
}
#landing-options-mobile {
  background-color: #8CFCFF;
  background-image: -webkit-gradient(linear, left top, right top, from(#40c0ff), to(#8CFCFF));
  background-image: -webkit-linear-gradient(left, #40c0ff, #8CFCFF);
  background-image: -moz-linear-gradient(left, #40c0ff, #8CFCFF);
  background-image: -o-linear-gradient(left, #40c0ff, #8CFCFF);
  background-image: linear-gradient(to right, #40c0ff, #8CFCFF);

  text-align: center;
  padding: 16px;
  margin-bottom: 10px;
}
#landing-options-mobile select {
  display: inline;
}
#landing-options-mobile span {
  color: white;
  font-size: larger;
  font-weight: bold;
}
#landing-submit-mobile {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 0;
  padding: 10px 10px;
  margin: 0 0 0 6px;
  background-color: #40c0ff;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
#features {
  display: none;
}
#content {
  /* Height of the footer element = 42px */
  padding-bottom: 50px;
}
/*********************
01. GENERAL STYLES
*********************/
html,
body {
  height: 98%;
}
body {
  background: #fff;
  font-style: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-size: 12px;
  color: #666;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}
select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: -1px -1px 0 0 #A6BBB7;
  -moz-box-shadow: -1px -1px 0 0 #A6BBB7;
  box-shadow: -1px -1px 0 0 #A6BBB7;
  background: url(../images/sampression-css-sprite.png) no-repeat 0 0;
  background-position: 55px -11px;
  background-position: 5.5rem -11rem;
  background-color: white;
  width: 70px;
  width: 7rem;
  color: #777;
  display: block;
  position: relative;
  border: 1px solid #D2DFDC;
  border: 0.1rem solid #D2DFDC;
  margin: 0;
  padding: 6px 5px;
  padding: 0.6rem 0.5rem;
  border: 1px solid #eee;
  border: 0.1rem solid #eee;
  outline: none;
  font-size: 8px;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
}
select.loc-select {
  background-position: 75px -112px;
  background-position: 7.5rem -11.2rem;
  width: 140px;
  display: inline;
}
select.sel-width-2 {
  background-position: 28px -11px;
  background-position: 2.8rem -11rem;
  width: 40px;
  width: 4rem;
  display: inline;
}
select.sel-width-8 {
  background-position: 38px -11px;
  background-position: 3.8rem -11rem;
  width: 50px;
  width: 5rem;
  display: inline;
}
.boxed {
  background-color: white;
  border: 1px solid #d5d5d5;
  padding: 0.5em;
}
.dkorange-bg {
  color: #fff;
  background-color: #FF6600;
  padding: 0.2em;
  font-weight: 700;
  font-size: 120%;
}
.mid-form-center {
  background-color: white;
  padding: 10px;
}
.feature-img-thumb {
  width: 80%;
  height: auto;
}
[class*="icon-"] {
  background-image: none;
  display: inline;
  font-size: 1em;
  font-style: normal !important;
  font-weight: normal !important;
  height: 1em;
  overflow: visible;
  width: 1em;
}
[class*="icon-"]::before {
  content: ' ';
  display: inline-block;
  font-family: "icons", "icons_social", fantasy !important;
  line-height: 0px;
  position: relative;
  top: 2px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.hide {
  clip: rect(1px, 1px, 1px, 1px);
  height: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}
.hidden {
  display: none;
  opacity: 0;
}
/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
.page-template-page-itineraries {
  background-color: #EEF1F4;
}
.widget_recent_entries {
  text-align: center;
}
.widget_recent_entries a,
.widget_recent_entries a:visited {
  color: #FF6600;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
  font-size: 1.125em;
  font-weight: bold;
}
.widget_recent_entries a a,
.widget_recent_entries a:visited a,
.widget_recent_entries a a:visited,
.widget_recent_entries a:visited a:visited {
  color: #FF6600;
  text-decoration: none;
}
.widget_recent_entries li {
  padding: 10px;
}
/*********************
03. LAYOUT & GRID STYLES
*********************/
.fourcol-mobile {
  width: 31.491712705%;
}
/* 30.75%; } /* grid_4  */
.fourcol-mobile {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}
.wrap,
.tr-wrap {
  width: 96%;
  margin: 0 auto;
}
#container {
  min-height: 100%;
  position: relative;
}
.alignright {
  float: right;
}
/*********************
04. LINK STYLES
*********************/
a,
a:visited {
  color: #8AB7AC;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #AECDC6;
}
a:link,
a:visited:link {
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
.blue-text {
  color: #45CBFF !important;
}
.blue-text a,
.blue-text a:visited {
  color: #45CBFF !important;
}
/*********************
06. HEADER STYLES
*********************/
#nav-mobile {
  display: none;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 5;
  /* Fallback for web browsers that doesn't support RGBa */
  /* RGBa with 0.6 opacity */
  background: #00b7ff;
}
#promo-wrapper {
  height: 200px;
  background-color: #fff;
}
.location-header {
  color: #FF6976;
  margin-bottom: 0.2em;
}
.placecat-header {
  color: #43AACC;
  margin-bottom: 0.2em;
}
/*********************
07. NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
  background: none;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', Arial, sans-serif;
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  /*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
}
.nav li a {
  display: block;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0 0.2em 0 0;
  /*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 30px;
}
/* end .nav */
/*********************
08. POSTS & CONTENT STYLES
*********************/
/* end .hentry */
.places-title,
.single-title,
.page-title {
  padding: 0;
  text-align: center;
}
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
.byline {
  color: #999;
  padding: 1em 2em;
  border-bottom: 1px dashed #45CBFF;
  border-bottom: 0.1rem dashed #45CBFF;
  border-top: 1px dotted #45CBFF;
  border-top: 0.1rem dotted #45CBFF;
}
/* entry content */
.entry-content {
  overflow: hidden;
  /*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
}
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
.entry-content video,
.entry-content object {
  max-width: 100%;
  height: auto;
}
.entry-content iframe {
  max-width: 100%;
}
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}
/* end .entry-content */
.content-padding {
  padding: 0em 2em 2em 2em;
}
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}
/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
.featured-img {
  text-align: center;
  max-width: 100%;
  height: auto;
  margin: 0.2em 0;
}
.featured-img img {
  max-width: 100%;
  height: auto;
}
#main {
  margin: 10px 0;
  background: #fff;
}
/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}
.bones_page_navi {
  margin-bottom: 4px;
  /* current page link */
  /* end .bones_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */
  /* previous link */
  /* next page link */
  /* first page link */
  /* last page link */
}
.bones_page_navi li {
  background-color: white;
  border: 1px solid #d5d5d5;
  padding: 0.5em;
  float: left;
  margin-left: 6px;
  padding: 3px 6px;
}
.bones_page_navi li a {
  display: block;
  text-decoration: none;
  position: relative;
}
.bones_page_navi li a:hover,
.bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
.bones_page_navi li.current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
.bones_page_navi li.current a {
  /* hovering on current page link */
}
.bones_page_navi a.prev,
.bones_page_navi a.next {
  font-weight: 700;
  padding: 0;
}
.bones_page_navi a.prev:hover,
.bones_page_navi a.next:hover,
.bones_page_navi a.first:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}
/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left;
}
.wp-prev-next .next-link {
  float: right;
}
/* end .wp-prev-next */
/******************************************************************
10. COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments {
  /* number of comments span */
}
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */
}
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */
}
.commentlist li:last-child {
  margin-bottom: 0;
}
.commentlist li ul.children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
.commentlist .odd {
  background: #eee;
}
.commentlist .even {
  background: #fefefe;
}
.commentlist .vcard {
  margin-left: 50px;
}
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
.commentlist .vcard time {
  float: right;
}
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
.commentlist .comment_content {
  margin-left: 50px;
}
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
.commentlist .comment-reply-link:hover,
.commentlist .comment-reply-link:focus {
  opacity: 1;
}
/* end .commentlist */
/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
.respond-form form {
  margin: 0.75em 0;
}
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
.respond-form form li label,
.respond-form form li small {
  display: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */
}
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}
/* comment submit button */
/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em;
}
/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}
/* no comments */
.nocomments {
  margin: 0 20px 1.1em;
}
/*********************
12. SIDEBARS & ASIDES
*********************/
#sidebar1 {
  display: none;
}
.widgettitle {
  font-size: 160%;
}
.widget img {
  width: 100%;
  height: auto;
}
.widget ul li {
  /* deep nesting */
}
/*********************
13. FOOTER STYLES
*********************/
.footer {
  clear: both;
  background: #40c0ff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer nav {
  display: inline;
}
.article-footer {
  padding: 10px 24px;
}
/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
/* end .footer-links */
/*********************
 Home Page STYLES
*********************/
#features-mobile a {
  width: 100%;
  margin: 5px 0;
  padding: 10px 12px 10px 35px;
}
#features-mobile .button {
  font-size: 1.4em;
  background: url(../images/arrow-right.png) no-repeat 1.2rem 0.95rem #40c0ff;
}
#social-mobile {
  display: inline;
  overflow: hidden;
  width: 35%;
}
#social-mobile .sm-mobile {
  display: inline-block;
  width: 40px;
  float: right;
  overflow: hidden;
}
#social-mobile .sm-mobile img {
  width: 100%;
}
/*********************
Home Popular Box STYLES
*********************/
.popular-box {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid #d5d5d5;
  /*background-color:#CCDFDB;*/
  background-color: #40c0ff;
}
.popular-box-h {
  background-color: #fff;
  padding: 0 0.5em;
  overflow: hidden;
}
.popular-box-h .pop-header {
  float: left;
  display: inline-block;
  width: 60%;
  font-size: 1.2em;
  font-weight: 700;
  color: #F60;
  margin: 0.8em 1.5em 0.2em 0.5em;
}
.popular-box-h select {
  float: none;
  display: inline;
  margin: 0 0 10px 8px;
}
.popular-box-h .button {
  margin-top: 5px;
}
.hscroll-div {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 310px;
}
.pop-results {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: 5px;
}
.placecard-mini {
  display: table-cell;
  width: 230px;
  height: 290px;
  margin: 5px 0 5px 5px;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.placecard-mini h3 {
  font-weight: bold;
  padding: 5px;
  line-height: 1.2;
  white-space: normal;
}
.placecard-mini .featured-img {
  overflow: hidden;
  height: 150px;
}
.placecard-mini .header-wrapper {
  height: 4.4em;
  overflow: hidden;
  padding: 0 0.8em;
  margin-bottom: 5px;
}
.placecard-mini .post-excerpt {
  display: block;
  overflow: hidden;
  height: 6em;
  margin: 0.5em 1em;
  font-weight: bold;
  white-space: normal;
}
/*********************
17. Animated loader STYLES
*********************/
.loader {
  text-align: center;
  margin: 5em 0;
}
.loader p {
  color: #FF6600;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
  color: #45CBFF;
}
.loader p a,
.loader p a:visited {
  color: #FF6600;
  text-decoration: none;
}
/*********************
18. Top Bar STYLES
*********************/
#top-bar {
  position: fixed;
  top: 0px;
  height: 40px;
  width: 100%;
  z-index: 5;
  overflow: hidden;
  /* Fallback for web browsers that doesn't support RGBa */
  background: #00b7ff;
  /* RGBa with 0.6 opacity */
  background: rgba(0, 183, 255, 0.8);
}
#top-bar #hhp-text {
  float: left;
  display: inline-block;
  padding: 8px 10px 0 20px;
  margin: 0;
  font-family: "kingthings_petrockregular";
  font-size: 2em;
  line-height: 1;
}
#top-bar #hhp-text a {
  text-decoration: none;
  color: #fff;
}
#top-bar .icon-menu::before {
  content: "☰";
  font-size: 6em;
  line-height: 50%;
}
#top-bar .icon-menu {
  color: #fff;
  float: right;
  height: 40px;
  width: 40px;
  text-align: center;
}
#top-bar .icon-user::before {
  content: "👤";
  font-size: 3em;
}
#top-bar .icon-freebie::before {
  content: "☆";
  font-size: 3em;
}
#top-bar .icon-freebie {
  color: #fff;
  float: none;
  height: 30px;
  width: 30px;
}
#top-bar .icon-login::before {
  content: "";
  font-size: 2em;
}
#top-bar .icon-login {
  color: #fff;
  float: none;
  height: 30px;
  width: 30px;
}
#top-bar .top-bar-txtbtn {
  overflow: hidden;
  float: right;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 4px 16px;
  background: #01a2e1;
  height: 30px;
  margin: 5px 10px 5px 0;
}
#top-bar .top-bar-txtbtn a {
  text-decoration: none;
  font-size: 120%;
  font-weight: 600;
  color: #fff;
}
#top-bar #loggedin_btn {
  font-weight: 600;
  font-size: 120%;
  color: #fff;
  cursor: pointer;
}
#user-nav {
  display: none;
  position: fixed;
  top: 40px;
  right: 0;
  z-index: 5;
  overflow: hidden;
  background: #40c0ff;
}
#user-nav ul li {
  position: relative;
}
#user-nav ul li a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  color: #fff;
  font-weight: 600;
  font-size: 120%;
}
#user-nav li:hover {
  background: #45CBFF;
}
.icon-search::before {
  content: "🔍";
  font-size: 3.5em;
  top: 5px;
}
.icon-search {
  color: #fff;
  float: none;
  height: 100%;
  width: 20px;
}
.icon-admin::before {
  content: "⚒";
  font-size: 3em;
}
.icon-userprofile::before {
  content: "";
  font-size: 3em;
}
.icon-userprofile {
  color: #fff;
  float: none;
  height: 30px;
  width: 30px;
}
.icon-userlogout::before {
  content: "";
  font-size: 3em;
}
.icon-userlogout {
  color: #fff;
  float: none;
  height: 30px;
  width: 30px;
}
/* Flexible iFrame */
.Flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*********************
Search form STYLES
*********************/
/* search widget */
#searchform .search-text {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
}
#searchform .placecat-box {
  background-color: white;
  border: 1px solid #d5d5d5;
  padding: 0.5em;
  margin: 4px;
  padding: 4px;
}
#searchform .placecat-box a {
  float: right;
  margin: 0 0.4em;
}
#searchform .placecat-box a:hover {
  cursor: pointer;
  text-decoration: underline;
}
#searchform .placecat-box input.search-cat {
  font-size: 200%;
  margin: 0 0 0 5px;
}
#searchform .placecat-box span {
  font-size: 120%;
  margin: 0 0 0 5px;
}
#searchform .submit-wrapper {
  text-align: center;
  clear: both;
  margin-top: 1em;
}
#searchform .submit-wrapper .searchsubmit {
  background: #40c0ff;
  color: #fff;
  margin: 4px;
  padding: 1em 0;
  font-size: 150%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  width: 80%;
}
#searchform .searchsubmit-small {
  background: #40c0ff;
  color: #fff;
  margin: 2px;
  padding: 4px 20px;
  font-size: 150%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.search-taiwan {
  background-color: #43AACC;
  background-image: -webkit-gradient(linear, left top, right top, from(#d7edf5), to(#43AACC));
  background-image: -webkit-linear-gradient(left, #d7edf5, #43AACC);
  background-image: -moz-linear-gradient(left, #d7edf5, #43AACC);
  background-image: -o-linear-gradient(left, #d7edf5, #43AACC);
  background-image: linear-gradient(to right, #d7edf5, #43AACC);
  height: 40px;
  padding: 0 1em;
  margin-top: 20px;
}
.search-taiwan p {
  float: left;
  margin: 10px 0 0 0;
  color: black;
  font-family: "Droid Serif", serif;
  font-weight: bold;
  font-size: 12px;
  font-size: 1.2em;
}
.searchbox {
  margin-bottom: 10px;
}
.search-lefthalf {
  zoom: 1;
  width: 100%;
}
.search-lefthalf:before,
.search-lefthalf:after {
  content: "";
  display: table;
}
.search-lefthalf:after {
  clear: both;
}
.search-righthalf {
  zoom: 1;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  /* Fallback for web browsers that doesn't support RGBa */
  background: #f0f0f0;
  /* RGBa with 0.6 opacity */
  background: rgba(240, 240, 240, 0.6);
  padding: 3px 8px;
  margin-top: 2em;
}
.search-righthalf:before,
.search-righthalf:after {
  content: "";
  display: table;
}
.search-righthalf:after {
  clear: both;
}
#adv-search {
  margin: 10px;
  font-size: 150%;
}
#adv-search img {
  width: 30px;
  height: 30px;
  margin: 0 5px -8px 0;
}
.results-box {
  margin-bottom: 1em;
}
.post-card-horizontal {
  zoom: 1;
}
.post-card-horizontal:before,
.post-card-horizontal:after {
  content: "";
  display: table;
}
.post-card-horizontal:after {
  clear: both;
}
.post-card-horizontal img {
  display: inline-block;
  height: auto;
  width: 80%;
  margin-left: 10%;
}
.search-post-title {
  margin: 0;
  width: 85%;
}
.search-post-title a {
  color: #9BB0AB;
  font-family: 'Droid Serif', serif;
  font-size: 150%;
  font-weight: bold;
}
.tag-category {
  float: left;
  background-color: #43AACC;
  padding: 0.2em 1em;
  margin: 0 0 10px 5px;
}
.tag-category a {
  color: white;
  font-weight: bold;
}
[class*="tag-loc-"] {
  padding: 0.2em 1em;
  margin: 0 0 10px 5px;
  color: white;
  font-weight: bold;
}
.tag-loc-changhua {
  background-color: #00736c;
}
.tag-loc-chiayi {
  background-color: #aa8c26;
}
.tag-loc-hsinchu {
  background-color: #aa3226;
}
.tag-loc-hualian {
  background-color: #9a4ba3;
}
.tag-loc-kaohsiung {
  background-color: #004173;
}
.tag-loc-matsu {
  background-color: #c72a83;
}
.tag-loc-miaoli {
  background-color: #5c8ca8;
}
.tag-loc-nan-tou {
  background-color: #35cb43;
}
.tag-loc-pingtung {
  background-color: #3566cb;
}
.tag-loc-taichung {
  background-color: #2eb6a4;
}
.tag-loc-tainan {
  background-color: #c1c727;
}
.tag-loc-taipei-taiwan {
  background-color: #fa6a75;
}
.tag-loc-taitung {
  background-color: #c85c1b;
}
.tag-loc-taoyuan {
  background-color: #1b8dc8;
}
.tag-loc-yi-lan {
  background-color: #59339e;
}
.tag-loc-yunlin {
  background-color: #339e54;
}
#searchform_top {
  display: none;
}
#searchform_top_m {
  width: 100%;
  margin-top: 40px;
  padding: 6px;
  background-color: #40c0ff;
}
#searchform_top_m input {
  width: 93%;
  padding: 4px;
}
.goto-btn {
  background-color: white;
  border: 1px solid #d5d5d5;
  padding: 0.5em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #d7edf5;
  position: fixed;
  z-index: 100;
  text-align: center;
}
.goto-btn a {
  text-decoration: none;
  font-weight: 600;
  font-size: 120%;
  color: #43AACC;
}
#goto-top {
  bottom: 70px;
}
#goto-placeinfo {
  bottom: 20px;
}
.icon-goup::before {
  content: "";
  font-size: 2rem;
}
.icon-goup {
  color: #43AACC;
  float: none;
  height: 30px;
  width: 30px;
}
.tr-card {
  position: relative;
  background: #fff;
  width: 90%;
  height: 350px;
  margin: 0 auto 20px auto;
  font-size: 120%;
  overflow: hidden;
}
.tr-card .tr-card-img {
  overflow: hidden;
  height: 180px;
  width: 100%;
}
.tr-card .tr-card-img img {
  position: relative;
}
.tr-card .tr-card-title {
  overflow: hidden;
  text-align: center;
  margin-top: 2px;
  height: 40px;
}
.tr-card .tr-card-title h3 {
  line-height: normal;
  font-weight: bold;
  margin: 0;
  padding: 2px;
}
.tr-card .tr-excerpt {
  padding: 0 8px;
  word-wrap: break-word;
}
.tr-card .tr-card-footer {
  position: absolute;
  width: 100%;
  min-height: 20px;
  bottom: 0;
  text-align: center;
  z-index: 3;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #eaf8ff 21%, #99deff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(21%, #eaf8ff), color-stop(100%, #99deff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #eaf8ff 21%, #99deff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #eaf8ff 21%, #99deff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #eaf8ff 21%, #99deff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #eaf8ff 21%, #99deff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#99deff', GradientType=0);
  /* IE6-9 */
}
.tr-card .tr-promo-period {
  margin: 8px 2px 2px 2px;
}
.tr-card .tr-promo-period p {
  margin: 0;
  color: green;
  font-weight: 600;
}
.tr-card .tr-card-buynow a {
  width: 80%;
  margin: 5px;
}
.sampiti_day_container {
  background: #40c0ff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
  margin: 6px 0;
}
.sampiti_day_container h3 {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  font-size: 15px;
}
.sampiti_place {
  background-color: white;
  -webkit-box-shadow: -1px -1px 0 0 #A6BBB7;
  -moz-box-shadow: -1px -1px 0 0 #A6BBB7;
  box-shadow: -1px -1px 0 0 #A6BBB7;
  margin: 10px;
  padding: 0;
}
.sampiti_media {
  height: 140px;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.sampiti-place-title {
  color: #01a2e1;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 25px;
}
.sampiti-place-title a,
.sampiti-place-title a:visited {
  color: #40c0ff;
  text-decoration: underline;
}
.sampiti_content {
  padding: 10px;
}
.btn-swap-place {
  color: #40c0ff;
  background-color: white;
  font-family: Papyrus, fantasy;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 6px;
  line-height: 1.1;
}
.ib-panel {
  background-color: white;
  border-bottom: 4px double #d5d5d5;
  padding: 0.5em;
}
#desk-iti-form select {
  width: 100%;
  background: none;
}
#itibuilder-control {
  padding: 0 15px;
}
#iti-control-submit {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}
.iti-details-arrow {
  margin: 100px 0 0 0;
}
.iti-next-arrow {
  margin: 0 0 30px 0;
}
.iti-prev-arrow {
  margin: 0;
}
.iti-overview-arrow {
  display: none;
}
.iti-arrow-back {
  width: 40px;
  height: auto;
}
#control-prov {
  width: 100%;
}
#control-prov td {
  padding: 0px 6px 9px 0px;
}
.cbox-prov-sel {
  font-size: 40px;
}
#hl-container {
  display: none;
}
#hl-container-mobile {
  width: 50%;
  float: right;
}
#hl-go-details {
  display: none;
}
.hl-div-mobile {
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 60px;
}
.hl-placename-box {
  height: 3em;
  overflow: hidden;
  margin: 10px 0;
}
.iti-highlight-mobile {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: 200%;
  background-position: center;
  width: 60px;
  height: 60px;
  float: left;
}
.iti-action-btn {
  display: none;
}
#iti-maps {
  position: relative;
  margin-top: 0px;
  width: 50%;
  float: left;
}
.iti-overlay-map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#iti-trail {
  display: none;
}
#iti-trail-mobile {
  display: block;
  position: relative;
}
.iti-trail-track-mobile {
  width: 100%;
  height: 50px;
  margin: 20px 0 40px 0;
}
.iti-trail-mark {
  position: absolute;
  left: 28px;
  top: 50px;
}
.iti-trail-mark-mobile {
  position: absolute;
  left: 2%;
  top: 48px;
}
.iti-trail-label-mobile {
  position: absolute;
  text-align: center;
  left: 1%;
}
#iti-navi {
  display: none;
}
#sticky-footer-toolbar {
  position: fixed;
  clear: both;
  width: 100%;
  height: 60px;
  bottom: 0;
  border: none;
  padding: 0;
  color: white;
  background-color: #40c0ff;
}
#sticky-sidebar {
  display: none;
}
.footer-tb-button {
  position: relative;
  float: left;
  width: 33.33333%;
  height: 60px;
  color: white;
  background-color: #40c0ff;
  border-top: solid 2px #01a2e1;
  border-right: solid 1px #01a2e1;
  border-left: solid 1px #01a2e1;
}
.footer-pagination {
  height: 60px;
  width: 100%;
  background-color: white;
  color: #40c0ff;
}
.ib-pagebtn {
  position: relative;
  float: left;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
}
.ib-sides {
  width: 20%;
}
.ib-mid {
  width: 20%;
}
#ib-pagebtn-sel {
  background: url(../images/page_btn_bg_sel.png) no-repeat;
  background-size: 40px 40px;
  background-position: center;
}
#ib-pagebtn-prev {
  background: url(../images/page_btn_prev.png) no-repeat;
  background-size: 40px 40px;
  background-position: right;
}
#ib-pagebtn-next {
  background: url(../images/page_btn_next.png) no-repeat;
  background-size: 40px 40px;
  background-position: left;
}
#ib-pagebtn-edit {
  background: url(../images/ib_btn_edit.png) no-repeat;
  background-size: 40px 40px;
  background-position: center;
}
#ib-pagebtn-export {
  background: url(../images/ib_btn_export.png) no-repeat;
  background-size: 40px 40px;
  background-position: center;
}
.ib-daybox {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #C8C8C8;
  padding: 8px;
  margin-bottom: 20px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  height: auto;
}
.ib-daylabel {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background-color: #40c0ff;
  margin-bottom: 5px;
  float: left;
}
.ib-daylabel p {
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding-top: 4px;
  color: white;
}
.ib-daylabel .ib-daynum {
  font-size: 20px;
  padding-top: 0;
  margin-top: -4px;
}
.ib-day-header {
  line-height: 48px;
  padding: 8px;
  color: #1c87b1;
  font-size: 20px;
}
.ib-place-entry {
  zoom: 1;
  margin: 4px 0px;
}
.ib-place-entry:before,
.ib-place-entry:after {
  content: "";
  display: table;
}
.ib-place-entry:after {
  clear: both;
}
.ib-place-entry .ib-place-img {
  float: left;
  width: 30%;
  max-height: 90px;
  overflow: hidden;
}
.ib-place-entry .ib-place-img img {
  width: 100%;
}
.ib-place-entry .ib-place-rightcol {
  float: left;
  width: 70%;
}
.ib-btn-swap {
  float: right;
  width: 62px;
  height: 20px;
  line-height: 20px;
}
.ib-place-title {
  font-size: 16px;
  padding-left: 5px;
  margin-top: 3px;
  color: #666;
}
.btn_goto_itiday {
  width: 21%;
  padding-bottom: 21%;
  height: 0;
  position: relative;
  margin: 2%;
  float: left;
  text-align: center;
  font-weight: bold;
  background-color: #40c0ff;
  color: #fff;
}
.swap-titlebar-hidden .ui-dialog-titlebar {
  display: none;
}
.swap-dialog-title {
  font-size: 15px;
}
#swap-from-placename {
  color: #FF6600;
  font-weight: bold;
}
.swapchoice-title {
  color: #1c87b1;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 2px;
}
.swapchoice-excerpt {
  margin: 0px;
  padding-top: 2px;
  font-style: italic;
  font-size: 11px;
}
.swap-dialog-btn1 {
  width: 60px;
  height: 28px;
  line-height: 28px;
  margin-top: 8px;
  font-size: 13px;
}
.swapchoice-img-div {
  width: 100px;
  height: 75px;
  overflow: hidden;
  float: left;
}
.swapchoice-img-div .swapchoice-thumburl {
  width: 100%;
  height: auto;
}
.sft-panel {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  overflow-y: scroll;
  position: fixed;
  bottom: 60px;
  clear: both;
  width: 80%;
  height: auto;
  margin: 0 10%;
}
.sft-p-hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
  .search-lefthalf {
    float: left;
    width: 250px;
  }
  .search-righthalf {
    margin-top: 0;
    margin-left: 250px;
    width: auto;
  }
  .halfwidth {
    width: 48.618784527%;
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }
  .first {
    margin-left: 0;
  }
  .last-tr {
    float: right;
  }
  .sampiti_place {
    height: 160px;
  }
  .sampiti_media {
    float: left;
    width: 40%;
    height: 100%;
    margin-right: 10px;
  }
  .sampiti_content {
    padding: 10px 0;
  }
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
  .onecol {
    width: 5.801104972%;
  }
  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%;
  }
  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%;
  }
  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%;
  }
  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%;
  }
  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%;
  }
  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%;
  }
  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%;
  }
  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%;
  }
  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%;
  }
  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%;
  }
  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%;
  }
  /* 100%;   } /* grid_12 */
  .one-fifth {
    width: 17.790056%;
  }
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol,
  .twelvecol,
  .one-fifth {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }
  .first {
    margin-left: 0;
  }
  .last .last-tr {
    float: right;
  }
  /******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  select {
    font-size: 120%;
    background-position: 55px -110px;
    background-position: 5.5rem -11rem;
  }
  .header nav {
    display: block;
    position: static;
  }
  .footer nav {
    display: none;
  }
  #header-child-large {
    /*display: block;*/
    display: none;
  }
  #site-banner {
    display: inherit;
    background-size: 1240px;
    height: 450px;
  }
  #banner-text-mobile {
    display: none;
  }
  #landing-options {
    display: block;
    margin-top: 116px;
    padding-right: 6%;
    float: right;
    width: 45%;
  }
  #landing-options p {
    text-align: right;
  }
  #landing-options select {
    float: right;
    font-size: 16px;
  }
  #landing-options input {
    float: right;
  }
  #landing-options-mobile {
    display: none;
  }
  #landing-title {
    color: white;
    font-weight: bold;
    font-size: 24px;
  }
  #landing-submit {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 0;
    padding: 10px 16px;
    margin: 0 0 0 16px;
    background-color: #40c0ff;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  #social-large {
    display: inline;
  }
  #testi-wrapper {
    display: inline-block;
  }
  #features {
    display: inherit;
  }
  #promo-wrapper {
    height: 160px;
  }
  #promo-wrapper img {
    width: 100%;
    height: 100%;
  }
  .featured-img img {
    max-width: 70%;
  }
  .feature-img-thumb {
    width: 300px;
    height: auto;
  }
  .feature-img-med {
    width: 450px;
    height: auto;
  }
  /*********************
LAYOUT & GRID STYLES
*********************/
  .wrap,
  .tr-wrap {
    max-width: 1140px;
  }
  /*********************
HEADER STYLES
*********************/
  .header {
    margin-top: 40px;
  }
  .header nav {
    background: #40c0ff;
  }
  #logo-wrapper {
    overflow: hidden;
    height: 140px;
    margin-top: 12px;
    text-align: center;
  }
  #logo-wrapper img {
    width: 100%;
  }
  /* For social media icons */
  .sm-nav {
    width: 40px;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .sm-nav a {
    margin: 0;
    padding: 0;
  }
  .sm-nav img {
    max-width: 100%;
  }
  /*********************
NAVIGATION STYLES
*********************/
  .nav {
    background: none;
    border: 0;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .nav ul {
    margin-top: 0;
  }
  .nav li {
    float: left;
    position: relative;
    /*
		plan your menus and drop-downs wisely.
		*/
    /* showing sub-menus */
  }
  .nav li a {
    border-bottom: 0;
    /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
  }
  .nav li a:hover,
  .nav li a:focus {
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background-color: #fff;
  }
  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    z-index: 8999;
    /* highlight sub-menu current page */
  }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
  }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li:hover ul {
    top: auto;
    overflow: visible;
    visibility: visible;
  }
  .nav li.current-menu-item a,
  .nav li.current_page_item a,
  .nav li.current_page_ancestor a {
    color: black;
    background-color: #fff;
    /*text-shadow: 1px 1px 1px #333;*/
    font-weight: bold;
    letter-spacing: 1px;
  }
  /* end .nav */
  /*********************
SIDEBARS & ASIDES
*********************/
  #sidebar1 {
    display: block;
  }
  .sidebar {
    margin-top: 0;
  }
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  }
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }
  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* text widget */
  /*********************
FOOTER STYLES
*********************/
  /*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
  .footer-links ul li {
    /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
  }
  /* end .footer-links */
  /*********************
POSTS & CONTENT STYLES
*********************/
  #content {
    margin-top: 2.2em;
    /* Height of the footer element = 42px */
    padding-bottom: 42px;
  }
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */
  }
  .entry-content .alignleft,
  .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright,
  .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter,
  .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  /* end .entry-content */
  .places-title,
  .single-title,
  .page-title {
    padding: 0 1em;
    text-align: left;
  }
  /*********************
Single Post STYLES
*********************/
  /*********************
Form STYLES
*********************/
  .mid-form-center {
    margin: 0 auto;
    width: 550px;
    padding: 30px;
  }
  /*********************
 Testimonial STYLES
*********************/
  #testi-wrapper {
    background-color: #fff;
  }
  .testi-box {
    padding: 1.5em 1em 0.5em 1em;
    margin-top: 12px;
    background-color: #fff;
    border: 5px solid #FFC549;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    position: relative;
  }
  .testi-arrow {
    background-image: url(../images/testi-arrow-down.png);
    background-repeat: no-repeat;
    margin-left: -16px;
    position: absolute;
    left: 85%;
    bottom: -20px;
    display: block;
    width: 60px;
    height: 20px;
  }
  .testi-text {
    font-size: 12px;
    font-size: 1.2rem;
    margin: 0 0.5em;
  }
  .testi-author {
    text-align: right;
    margin: 0.5em 1em 0 1em;
    font-style: italic;
  }
  /*********************
 Home Page STYLES
*********************/
  #features-mobile {
    display: none;
  }
  #social-mobile {
    display: none;
  }
  /*********************
 Feature Box STYLES
*********************/
  .features-wrapper {
    padding: 0px;
    margin-top: 1em;
    /*background-color: #fff;*/
    position: relative;
    text-align: center;
  }
  .features-wrapper p {
    text-align: right;
    margin: 0;
  }
  .features-wrapper img {
    width: 100%;
  }
  .feat-head {
    margin: 0 1em;
    width: 100%;
  }
  .feat-img {
    float: left;
    width: 20%;
  }
  .feat-img img {
    max-width: 100%;
  }
  .feat-title {
    color: #FF6600;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 400;
    /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
    /* removing text decoration from all headline links */
    font-size: 1.125em;
    float: left;
    width: 70%;
    margin-top: 1em;
    color: #F60;
    text-align: center;
  }
  .feat-title a,
  .feat-title a:visited {
    color: #FF6600;
    text-decoration: none;
  }
  .feat-text {
    text-align: center;
    font-size: 12px;
    font-size: 1.2em;
    margin: 10px 5px;
    height: 3em;
  }
  /*********************
Home Popular Box STYLES
*********************/
  .popular-box {
    margin: 0;
  }
  .popular-box-h .pop-header {
    width: auto;
    margin: 1.2em 0.5em;
    font-size: 1.3em;
  }
  .popular-box-h select {
    margin: 12px 0 0 5px;
    background-position: 75px -112px;
    background-position: 7.5rem -11.2rem;
    width: 140px;
  }
  .popular-box-h .button {
    margin: 18px 5px 0 0;
  }
  .hscroll-div {
    overflow: auto;
    height: auto;
    width: auto;
  }
  .placecard-mini {
    width: 47.618784527%;
    margin: 7px 0 7px 1.3%;
    overflow: hidden;
    float: left;
    display: inline;
  }
  /*********************
Search form STYLES
*********************/
  .search-taiwan {
    margin-top: 0;
  }
  .search-lefthalf {
    float: none;
    width: auto;
  }
  .search-righthalf {
    float: none;
    margin: 10px 0;
    width: auto;
  }
  #adv-search {
    font-size: 110%;
  }
  #adv-search img {
    width: 20px;
    height: 20px;
    margin: 0 5px -6px 0;
  }
  .results-box {
    min-height: 50%;
  }
  .post-card-horizontal img {
    width: 35%;
    float: left;
    margin: 0 5px 5px 0;
  }
  .post-card-horizontal .search-img {
    width: 90%;
    float: left;
    margin: 0;
  }
  #searchform_top_m {
    display: none;
  }
  #searchform_top {
    display: block;
    float: right;
    margin: 5px 10px;
  }
  #searchform_top input {
    padding: 4px;
  }
  #top-bar .icon-menu {
    display: none;
  }
  .tr-card {
    height: 300px;
    font-size: 100%;
  }
  .tr-card .tr-card-img {
    height: 140px;
  }
  .tr-card .tr-card-title {
    height: 35px;
  }
  #sticky-footer-toolbar {
    display: none;
  }
  #sticky-sidebar {
    display: block;
  }
  .sticky {
    float: none;
    position: fixed;
    top: 20px;
    z-index: 6;
    left: auto;
  }
  #hl-container {
    display: block;
  }
  #hl-container-mobile {
    display: none;
  }
  #hl-go-details {
    display: block;
  }
  .iti-action-btn {
    display: block;
    float: right;
    background-color: #40c0ff;
    padding: 8px 8px 4px 8px;
    cursor: pointer;
  }
  .iti-action-btn img {
    width: 40px;
  }
  .iti-action-btn p {
    margin: 0;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  #iti-maps {
    position: relative;
    margin-top: 0px;
    width: 100%;
  }
  .iti-highlight {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-size: 200%;
    background-position: center;
    margin-bottom: 10px;
    width: 100%;
    padding-top: 100%;
  }
  .iti-overview-arrow {
    display: block;
    font-size: 140%;
  }
  #iti-trail {
    display: block;
    position: relative;
  }
  #iti-trail-mobile {
    display: none;
  }
  .iti-trail-label {
    position: absolute;
    left: 50px;
  }
  #iti-navi {
    display: block;
  }
  .swap-dialog-title {
    font-size: 13.2px;
  }
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
  .tr-wrap {
    max-width: 1000px;
  }
  #site-banner {
    margin-top: 0px;
  }
  #promo-wrapper {
    height: 200px;
  }
  #logo-wrapper img {
    height: 100%;
    width: auto;
  }
  /*********************
Home Popular Box STYLES
*********************/
  .placecard-mini {
    width: 31.491712705%;
    margin: 15px 0 0 1.3%;
  }
  /*********************
 Feature Box STYLES
*********************/
  .feat-title {
    color: #FF6600;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 400;
    /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
    /* removing text decoration from all headline links */
    font-size: 1.75em;
    line-height: 1.4em;
    margin-bottom: 0.375em;
  }
  .feat-title a,
  .feat-title a:visited {
    color: #FF6600;
    text-decoration: none;
  }
  /*********************
Single Post STYLES
*********************/
  .tr-card {
    height: 300px;
  }
  #itibuilder-control {
    padding: 0 60px;
  }
  #control-prov td {
    padding: 0px 20px 4px 0px;
  }
}
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
  #site-banner {
    background-size: cover;
  }
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
  /* 

EXAMPLE 
Let's say you have an image and you need to make sure it looks ok
on retina screens. Let's say we have an icon which dimension are
24px x 24px. In your regular stylesheets, it would look something
like this:

.icon {
	width: 24px;
	height: 24px;
	background: url(img/test.png) no-repeat;
}

For retina screens, we have to make some adjustments, so that image
doesn't look blurry. So, taking into account the image above and the
dimensions, this is what we would put in our retina stylesheet:

.icon {
	background: url(img/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

So, you would create the same icon, but at double the resolution, meaning 
it would be 48px x 48px. You'd name it the same, but with a @2x at the end
(this is pretty standard practice). Set the background image so it matches
the original dimensions and you are good to go. 

*/
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
}
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
Site Name:
Author:

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. If you want to
though, go for it.

******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
