/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

.tr-wrap {
	max-width: 1000px;
}

#site-banner {
	margin-top: 0px;
}

#promo-wrapper {
	height: 200px;
}


#logo-wrapper {
	img {
		height: 100%;
		width: auto;
	}
}


/*********************
Home Popular Box STYLES
*********************/

.placecard-mini {
	width: 31.491712705%;
	margin: 15px 0 0 1.3%;
}


/*********************
 Feature Box STYLES
*********************/

.feat-title {
	.h2;
}


/*********************
Single Post STYLES
*********************/


// ************************
// Travel Resources Styles
// ************************

.tr-card {
	height: 300px;
}



#itibuilder-control {
	padding: 0 60px;
}

#control-prov {
	td {
		padding: 0px 20px 4px 0px;
	}
}