/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/

.search-lefthalf {
	float: left;
	width: 250px;
}

.search-righthalf {
	margin-top: 0;
	margin-left: 250px;
	width: auto;
}

.halfwidth {
	width: 48.618784527%;
	position: relative;
  	float: left;
  	margin-left: 2.762430939%;
}

.first {
  margin-left: 0;
}

.last-tr {
  float: right;
}

.sampiti_place {
	height: 160px;
}

.sampiti_media {
	float: left;
	width: 40%;
	height: 100%;
	margin-right: 10px;
}

.sampiti_content {
	padding: 10px 0;
}