/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

select {
	font-size: 120%;
	background-position:55px -110px; background-position:5.5rem -11rem;
}

.header {
	nav {
		display: block;
		position:static;
	}
}

.footer { 
	nav {
		display: none;
	}
}


#header-child-large {
	/*display: block;*/
	display: none;
}


#site-banner {
	display: inherit;
	//background: url("../images/taipei101-banner.jpg") no-repeat center center;
    background-size: 1240px;
    height: 450px;
    //margin-top: 0px;
}

#banner-text-mobile {
	display: none;
}

#landing-options {
	p {
		text-align: right;
	}

	select {
		float: right;
		font-size: 16px;
	}

	input {
		float: right;
	}

	display: block;
	margin-top: 116px;
	padding-right: 6%;
	float: right;
	width: 45%
}

#landing-options-mobile {
	display: none;
}

#landing-title {
	color: white;
	font-weight: bold;
	font-size: 24px;
}

#landing-submit {
	.border-radius(8px);
	border: 0;
	padding: 10px 16px;
	margin: 0 0 0 16px;
	background-color: @hhp-themecol-light;
	color: @white;
	font-weight: bold;
	font-size: 16px;
}

#social-large {
	display: inline;
}

#testi-wrapper {
	display: inline-block;
}

#features {
	display: inherit;
}

#promo-wrapper {
	height: 160px;

	img {
		width:100%;
		height:100%;
	}
}

.featured-img {
	img {
		max-width: 70%;
	}
}

.feature-img-thumb {
	width: 300px;
	height: auto;
}

.feature-img-med {
	width: 450px;
	height: auto;
}
/*********************
LAYOUT & GRID STYLES
*********************/

.wrap,
.tr-wrap {
	max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/

.header {
	margin-top: 40px;
	nav {
		background: @hhp-themecol-light;
	}
}

	#logo {}

#logo-wrapper {
	overflow: hidden;
	height:140px;
	margin-top: 12px;
	text-align: center;

	img {
		width:100%;
	}
}

/* For social media icons */

.sm-nav {
	width: 40px;
	margin: 0;
	padding: 0;
	display:inline-block;

	a {
		margin: 0;
		padding: 0;
	}

	img {
		max-width:100%;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	background: none;
	border: 0;
	ul {
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: #666; 
				text-shadow: 1px 1px 0px #fff; 
				background-color: #fff; 
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			overflow: hidden;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			overflow: visible;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {
			color: black;
			background-color: #fff; 
			/*text-shadow: 1px 1px 1px #333;*/
			font-weight: bold; 
			letter-spacing: 1px;
		}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

#sidebar1 {
	display: block;
}

.sidebar {
	margin-top: 0;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */


/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	margin-top: 2.2em;
	/* Height of the footer element = 42px */
	padding-bottom: 42px; 

	#inner-content {}
}

/* entry content */
.entry-content {
			
	
	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
} /* end .entry-content */


.places-title,
.single-title,
.page-title {
	padding: 0 1em;
	text-align: left;
}

/*********************
Single Post STYLES
*********************/


/*********************
Form STYLES
*********************/

.mid-form-center {
	margin: 0 auto;
	width: 550px;
	padding: 30px;
}

/*********************
 Testimonial STYLES
*********************/

#testi-wrapper {
	
	background-color: #fff;
}

.testi-box {
	padding: 1.5em 1em 0.5em 1em;
	margin-top: 12px;
	background-color: @white;
	border:5px solid #FFC549;
	.border-radius(15px);

	text-align:center;
	position:relative;
}

.testi-arrow{
	background-image: url(../images/testi-arrow-down.png);
	background-repeat: no-repeat;
	margin-left: -16px;
	position: absolute;
	left: 85%;
	bottom: -20px;
	display:block;
	width:60px;
	height:20px;
}


.testi-text {
	font-size:12px; font-size:1.2rem;
	margin: 0 0.5em;
}

.testi-author {
	text-align: right;
	margin: 0.5em 1em 0 1em;
	font-style: italic;
}

/*********************
 Home Page STYLES
*********************/

#features-mobile {
	display: none;
}


#social-mobile {
	display: none;
}

/*********************
 Feature Box STYLES
*********************/

.features-wrapper {
	padding: 0px;
	margin-top: 1em;
	/*background-color: #fff;*/
	position:relative;
	text-align: center;

	p {
		text-align: right;
		margin: 0;
	}

	img {
		width: 100%;
	}
}


.feat-head {
	margin: 0 1em;
	width: 100%;
}

.feat-img {
	float: left;
	width: 20%;

	img {
		max-width: 100%;
	}
}

.feat-title {
	.h3;
	float: left;
	width: 70%;
	margin-top: 1em;
	color: #F60;
	text-align: center;
}


.feat-text {
	text-align: center;
	font-size: 12px; font-size:1.2em; 
	margin: 10px 5px;
	height: 3em;
}



/*********************
Home Popular Box STYLES
*********************/

.popular-box {
	margin: 0;
}

.popular-box-h {

	.pop-header {
		width: auto;
		margin: 1.2em 0.5em;
		font-size: 1.3em;
	}

	select {
		margin: 12px 0 0 5px;
		background-position:75px -112px; background-position:7.5rem -11.2rem;
		width: 140px;
	}

	.button {
		margin: 18px 5px 0 0;
	}
}

.hscroll-div {
	overflow:auto;
	height:auto;
	width:auto;
}

.pop-results {
	
	//white-space: normal;
	//height:auto;
	//width:auto;
}

.placecard-mini {
	width: 47.618784527%;
	margin: 7px 0 7px 1.3%;

	overflow: hidden;
	//display: inline-block;
	float:left;
	display:inline;
}



/*********************
Search form STYLES
*********************/

.search-taiwan {
	margin-top: 0;
}

.search-lefthalf {
	float: none;
	width: auto;
}

.search-righthalf {
	float: none;
	margin: 10px 0;
	width: auto;
}

#adv-search {
	font-size: 110%;

	img {
		width:20px;
		height:20px;
		margin: 0 5px -6px 0;
	}
}

.results-box {
	min-height: 50%;
}


.post-card-horizontal {
	
	img {
		width: 35%;
		float:left;
		margin: 0 5px 5px 0;
	}

	.search-img {
		width:90%;
		float: left;
		margin: 0;
	}
}

#searchform_top_m {
	display: none;
}

#searchform_top {
	display: block;
	float:right;
	margin: 5px 10px;

	input {
		padding: 4px;
	}
}

// ******************
// Top Bar Styles
// ******************

#top-bar {
	.icon-menu {
		display: none;
	}
}

// ************************
// Travel Resources Styles
// ************************

.tr-card {
	height: 300px;
	font-size: 100%;

	.tr-card-img {
		height: 140px;
	}

	.tr-card-title {
		height: 35px;
	}
}


// ************************
// Itinerary Builder Styles
// ************************

//This should be hidden on larger screens
#sticky-footer-toolbar {
	display: none;
}

//This should be hidden on smaller screens
#sticky-sidebar {
	display: block;
}


.sticky {
	float: none; 
	position: fixed; 
	top: 20px; 
	z-index: 6; 
	left: auto;
}


#hl-container {
	display: block;
}

#hl-container-mobile {
	display: none;
}

#hl-go-details {
	display: block;
}

.iti-action-btn {
	display: block;
	float: right;
	background-color: @hhp-themecol-light;
	padding: 8px 8px 4px 8px;

	cursor: pointer;

	img {
		width: 40px;
	}

	p {
		margin: 0;
	    color: white;
	    font-weight: bold;
	    text-align: center;
	}
}

#iti-maps {
	position: relative;
	margin-top: 0px;
	width: 100%;
}

.iti-highlight {
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	background-size: 200%;
	background-position: center;
	
	margin-bottom: 10px;
	width: 100%;
	//height: 160px;
	padding-top: 100%;
}

.iti-overview-arrow {
	display: block;
	font-size: 140%;
}

#iti-trail {
	display: block;
	position: relative;
}

#iti-trail-mobile {
	display: none;
}

.iti-trail-label {
	position: absolute;
	left: 50px;
}

#iti-navi {
	display: block;
}


.swap-dialog-title {
	font-size: 13.2px;
}