/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/

.header {
	nav {
		display: none;
		top: 40;
		right: 0;
		z-index: 5;

		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(0, 183, 255);
		/* RGBa with 0.6 opacity */
		background: rgba(0, 183, 255, 0.8);
	}
}


#header-child-large {
	display: none;
}


#site-banner {
	//display: none;
	background: url("../images/taipei101-banner.jpg") no-repeat center center;
	background-size: cover;
    height: 250px;
    margin-top: 0px;
}

#banner-text-mobile {
	p {
		text-align: right;
		color: white;
		font-size: large;
		padding-right: 10px;
	}

	width: 40%;
	float: right;
	margin-top: 70px;
}


#landing-options {
	display: none;
}

#landing-options-mobile {
	select {
		display: inline;
	}
	span {
		color: white;
		font-size: larger;
		font-weight: bold;
	}

	.css-gradient-LR(@hhp-themecol-light, @hhp-themecol-lightest);
	text-align: center;
	//background-color: @hhp-themecol-light;
	padding: 16px;
	margin-bottom: 10px;
}

#landing-submit-mobile {
	.border-radius(8px);
	border: 0;
	padding: 10px 10px;
	margin: 0 0 0 6px;
	background-color: @hhp-themecol-light;
	color: @white;
	font-weight: bold;
	font-size: 14px;
}

#features {
	display: none;
}

#content {
	/* Height of the footer element = 42px */
	padding-bottom: 50px; 
}


/*********************
01. GENERAL STYLES
*********************/

html, body {
	height: 98%;
}

body {
	background: @hhp-background;
	font-style: @sans-serif;
	font-size: 1.2rem; font-size: 12px;
	color: @hhp-basetext;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;

	margin:0;
	padding:0;

}

select {
	.border-radius(3px);
	.boxShadow(-1px,-1px,0,0,#A6BBB7);
	background:url(../images/sampression-css-sprite.png) no-repeat 0 0;
    background-position: 55px -11px; background-position: 5.5rem -11rem;
    background-color: white;
    width: 70px; width: 7rem;
	color: #777;
	display:block;
	position:relative;
	border:1px solid #D2DFDC; border:0.1rem solid #D2DFDC;
	margin:0;
	padding: 6px 5px; padding: 0.6rem 0.5rem;

	border: 1px solid #eee; border: 0.1rem solid #eee;
	
	outline: none;

	font-size:8px; font-size:0.8rem;
	font-family: Arial, Helvetica, sans-serif;
	
	-webkit-appearance: none;
}


select.loc-select {
	background-position:75px -112px; background-position:7.5rem -11.2rem;
	width: 140px;
	display: inline;
}

select.sel-width-2 {
	background-position: 28px -11px; background-position: 2.8rem -11rem;
	width: 40px; width: 4rem;
	display: inline;
}

select.sel-width-8 {
	background-position: 38px -11px; background-position: 3.8rem -11rem;
	width: 50px; width: 5rem;
	display: inline;
}

.boxed {
	background-color:white;
	border:1px solid #d5d5d5;
	padding: 0.5em;
}

//Text highlighting
.dkorange-bg {
	color: @white;
	background-color: @hhp-dark-orange;
	padding: 0.2em;
	font-weight: 700;
	font-size: 120%;
}


.mid-form-center {
	background-color: white;
	padding: 10px;
}


.feature-img-thumb {
	width: 80%;
	height: auto;
}



//**********
// For icons
//**********

//This selector allows you to add an icon to any tag you want 
//using a class that contains the string “icon-”.
[class*="icon-"] { 
  background-image: none; 
  display: inline; 
  font-size: 1em;
  font-style: normal !important; 
  font-weight: normal !important; 
  height: 1em;
  overflow: visible; 
  width: 1em;
}

[class*="icon-"]::before {
  content: ' ';
  display: inline-block;
  font-family: "icons", "icons_social", fantasy !important;
  line-height: 0px;
  position: relative;
  top: 2px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

//Create a class called hide that will hide any text you want to 
//include for SEO and backwards compatibility. Apply this class 
//to any child element within the tag you are using to create the 
//actual icon.
.hide {
  clip: rect(1px, 1px, 1px, 1px);
  height: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}

.hidden {
	display: none;
	opacity: 0;
}

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */


.page-template-page-itineraries {
	background-color: #EEF1F4;
}

.widget_recent_entries {
	
	.text-center;

	a, a:visited {
		.h3;
		font-weight: bold;
	}

	li {
		padding: 10px;
	}
}


/*********************
03. LAYOUT & GRID STYLES
*********************/

.fourcol-mobile   { width: 31.491712705%; }       /* 30.75%; } /* grid_4  */
.fourcol-mobile {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}

.wrap,
.tr-wrap, {
	width: 96%;
	margin: 0 auto;
}

#container {
	min-height:100%;
	position:relative;
}

.alignright {
	float: right;
}


/*********************
04. LINK STYLES
*********************/

a, a:visited {
	color: @link-color;

	/* on hover */
	&:hover, &:focus {
		color: @link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}



.blue-text {
	color: @hhp-logoblue !important;
	a, a:visited {
		color: @hhp-logoblue !important;
	}
}
/*********************
06. HEADER STYLES
*********************/

.header {

	#inner-header {	}

	#logo {}
	
	nav {
		div.top-nav {
			ul {
				li {	
					a {}
	
					&:first-child {}
	
					&:last-child {}
				}
			}
		}
	}
}


#nav-mobile {
	display: none;
	position: fixed;
	top: 40px;
	width: 100%;
	z-index: 5;

	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 183, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 183, 255, 1.0);
}


#promo-wrapper {
	height:200px;
	background-color: #fff;
}

.location-header {
	color: @hhp-place-loc-col;
	margin-bottom: 0.2em;
}

.placecat-header {
	color: @hhp-place-cat-col;
	margin-bottom: 0.2em;
}

/*********************
07. NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	background: none;
	margin: 0;
	padding: 0;
	font-family:'Oswald', Arial, sans-serif;

	ul {
		margin: 0;
		padding: 0;
	}

	li {

		a {
			display: block;
			padding: 10px 10px;
			border-bottom: 1px solid #ccc;
			color: #fff;text-decoration:none; 
			text-transform:uppercase; 
			font-size: 1.1em;
			margin: 0 0.2em 0 0;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */
	
	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */




/*********************
08. POSTS & CONTENT STYLES
*********************/

.article-header {

}

.hentry {

	header {}

	footer {}

} /* end .hentry */

.places-title,
.single-title,
.page-title {
	padding: 0;
	text-align: center;
}

.archive-title { }

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: #999;
	padding: 1em 2em;

	border-bottom: 1px dashed @hhp-logoblue;
	border-bottom: 0.1rem dashed @hhp-logoblue;
	border-top: 1px dotted @hhp-logoblue;
	border-top: 0.1rem dotted @hhp-logoblue;

	time {}
}

/* entry content */
.entry-content {

	overflow: hidden;

	p {

	}


	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}

	blockquote {

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	video, object {
		max-width: 100%;
		height: auto;
	}

	iframe {
		max-width: 100%;
	}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

} /* end .entry-content */

.content-padding {
	padding: 0em 2em 2em 2em;
}


.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.featured-img {
	.text-center;
	max-width: 100%;
	height: auto;
	margin: 0.2em 0;

	img {
		max-width: 100%;
		height: auto;
	}
}


#main {
	margin: 10px 0;
	background: @white;
}

/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
.bones_page_navi {

	margin-bottom: 4px;

	li {
		.boxed;
		float: left;
		margin-left: 6px;
		padding: 3px 6px;

		a {
			
			display: block;
			text-decoration: none;
			position: relative;

			&:hover,
			&:focus {
				color: #f01d4f;
				text-decoration: underline;
			}
		}

	}

	/* current page link */
	//li.bpn-current {
	li.current {
		padding: 3px 6px;
		border-bottom: 2px solid #f01d4f;
		position: relative;

		a {
			/* hovering on current page link */
			&:hover,
			&:focus {}

		}

	} /* end .bones_page_navi .bpn-current */

	/* common styles for page-navi links */
	//li.bpn-prev-link,
	//li.bpn-next-link {
	a.prev,
	a.next {
		font-weight: 700;
		padding: 0;
	}

	/* remove the bg on end links */
	a.prev:hover,
	a.next:hover,
	a.first:hover,
	li.bpn-last-page-link a:hover {
		background: none;
	}

	/* previous link */
	li.bpn-prev-link {
		a {
			&:hover,
			&:focus {}
		}
	}

	/* next page link */
	li.bpn-next-link {
		a {
			&:hover,
			&:focus {}
		}
	}

	/* first page link */
	li.bpn-first-page-link {
		a {
			&:hover,
			&:focus {}
		}
	}

	/* last page link */
	li.bpn-last-page-link {
		a {
			&:hover,
			&:focus {}
		}
	}

} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
10. COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
12. SIDEBARS & ASIDES
*********************/

#sidebar1 {
	display: none;
}

.sidebar {}

	.widgettitle {
		font-size: 160%;
	}

	.widget {

		img {
			width: 100%;
			height: auto;
		}

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

/*********************
13. FOOTER STYLES
*********************/

.footer {
	clear: both;
	background: @hhp-themecol-light;;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;

	#inner-footer {
	}
	nav {
		display: inline;
		ul.nav {
			li {
				a {}

				&:first-child {}

				&:last-child {}
			}
		}
	}
}


.article-footer {
	padding: 10px 24px;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}


/*********************
 Home Page STYLES
*********************/

#features-mobile {
	a {
		width: 100%;
		margin: 5px 0;
		padding: 10px 12px 10px 35px;
	}

	.button {
		font-size: 1.4em;
		background:url(../images/arrow-right.png) no-repeat 1.2rem 0.95rem @hhp-themecol-light;
	}
}

#social-mobile {
	display: inline;
	overflow: hidden;
	width: 35%;

	.sm-mobile {
		display: inline-block;
		width: 40px;
		float: right;
		overflow: hidden;

		img {
			width: 100%
		}
	}
}


/*********************
Home Popular Box STYLES
*********************/

.popular-box {
	.transition(all, 0.5s);
	border:1px solid #d5d5d5;
	/*background-color:#CCDFDB;*/
	//background-color:#0e7ea9;
	background-color:@hhp-themecol-light;
}

.popular-box-h {
	background-color: #fff;
	//padding: 1.5em 0.5em;
	padding: 0 0.5em;
	overflow: hidden;

	.pop-header {
		float: left;
		display: inline-block;
		width: 60%;
		font-size: 1.2em;
		font-weight: 700;
		color: #F60;
		margin: 0.8em 1.5em 0.2em 0.5em;
	}

	select {
		float:none;
		display: inline;
		margin: 0 0 10px 8px;
	}

	.button {
		margin-top: 5px;
	}
}

.hscroll-div {
	overflow-x:scroll;
	overflow-y:hidden;

	height:310px;
}

.pop-results {
	//white-space: nowrap;
	//width:auto;

	display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 5px;
    
}

.placecard-mini {
	display:table-cell;
	//display: inline-block;

	width: 230px;
	height: 290px;
	margin: 5px 0 5px 5px;
	padding: 0;
	background-color: @white;
	.border-radius(10px);
	overflow: hidden;
	

	h3 {
		font-weight: bold;
		padding: 5px;
		line-height: 1.2;
		white-space: normal;
	}

	.featured-img {
		overflow: hidden;
		height: 150px;
	}

	.header-wrapper {
		height: 4.4em;
		overflow: hidden;
		padding: 0 0.8em;
		margin-bottom: 5px;
	}

	.post-excerpt {
		display: block;
		overflow: hidden;
		height: 6em;
		margin: 0.5em 1em;
		font-weight: bold;
		white-space: normal;
	}
}

/*********************
17. Animated loader STYLES
*********************/

.loader {
	.text-center;
	margin: 5em 0;

	p {
		.h2;
		color: @hhp-logoblue;
	}
}


/*********************
18. Top Bar STYLES
*********************/

#top-bar {
	position:fixed;
	top:0px;
	height: 40px;
	width: 100%;
	z-index: 5;
	overflow: hidden;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 183, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 183, 255, 0.8);
	//background-color: @hhp-themecol-light;
	//opacity:0.6;
	//filter:alpha(opacity=60);

	#hhp-text {
		float:left;
		display: inline-block;
		padding: 8px 10px 0 20px;
		margin: 0;
		
		font-family: "kingthings_petrockregular";
		font-size: 2em;
		//font-weight: 700;
		line-height: 1;

		a{
			text-decoration: none;
			color: @white;
		}
	}

	.icon-menu::before { 
		content: "☰";
		font-size: 6em;
		line-height: 50%;
	}
	.icon-menu {
		color: @white;
		float:right;
		height: 40px;
		width: 40px;
		text-align:center;
		//border: 1px solid @hhp-sea-blue-dark;
	}

	.icon-user::before { 
		content: "👤";
		font-size: 3em;
	}

	.icon-freebie::before { 
		content: "☆";
		font-size: 3em;
	}
	.icon-freebie {
		color: @white;
		float:none;
		height: 30px;
		width: 30px;
	}

	.icon-login::before { 
		content: "";
		font-size: 2em;
	}
	.icon-login {
		color: @white;
		float:none;
		height: 30px;
		width: 30px;
	}

	.top-bar-txtbtn {
		overflow:hidden;
		float: right;
		.border-radius(6px);
		padding: 4px 16px;
		background: @hhp-themecol-dark;
		height:30px;
		margin: 5px 10px 5px 0;

		a {
			text-decoration: none;
			font-size: 120%;
			font-weight: 600;
			color: @white;
		}
	}

	#loggedin_btn {
	
		font-weight: 600;
		font-size: 120%;
		color: @white;
		//vertical-align: top;
		//padding: 5px 5px 0 3px;
		cursor:pointer;
	}
}


#user-nav {
	display: none;
	position:fixed;
	top:40px;
	right: 0;
	z-index: 5;
	overflow: hidden;
	
	background: @hhp-themecol-light;

	ul li {
		position: relative;

		a {
			display: block;
			text-decoration: none;
			padding: 15px 20px;
			color: #fff;
			font-weight: 600;
			font-size: 120%;
		}

	}

	li:hover {
		background: @hhp-logoblue;
	}
}

.icon-search::before { 
	content: "🔍";
	font-size: 3.5em;
	top: 5px;
}
.icon-search {
	color: @white;
	float:none;
	height: 100%;
	width: 20px;
}

.icon-admin::before { 
	content: "⚒";
	font-size: 3em;
}
	
.icon-userprofile::before { 
	content: "";
	font-size: 3em;
}
.icon-userprofile {
	color: @white;
	float:none;
	height: 30px;
	width: 30px;
}


.icon-userlogout::before { 
	content: "";
	font-size: 3em;
}
.icon-userlogout {
	color: @white;
	float:none;
	height: 30px;
	width: 30px;
}


/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*********************
Search form STYLES
*********************/

/* search widget */
#searchform {
	.search-text {
		.border-radius();
		padding: 5px;
	}

	.placecat-box {
		.boxed;
		margin: 4px;
		padding: 4px;

		a {
			float: right;
			margin: 0 0.4em;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}

		input.search-cat {
			font-size: 200%;
			margin: 0 0 0 5px;
		}

		span {
			font-size: 120%;
			margin: 0 0 0 5px;
		}
	}

	.submit-wrapper {
		.text-center;
		clear:both;
		margin-top: 1em;

		.searchsubmit {
			background: @hhp-themecol-light;
			color: @white;
			//width: 8em;
			margin: 4px;
			padding: 1em 0;
			font-size: 150%;
			.border-radius(12px);
			width: 80%;
		}	
	}

	.searchsubmit-small {
		background: @hhp-themecol-light;
		color: @white;			
		margin: 2px;
		padding: 4px 20px;
		font-size: 150%;
		.border-radius(6px);
	}
	
}

.search-taiwan {
	//background-image: url(../images/search-taiwan.png);
	.css-gradient-LR(@hhp-sea-blue-light, @hhp-sea-blue-dark);
	height: 40px;
	padding: 0 1em;
	margin-top: 20px;

	p {
		float: left;
		margin: 10px 0 0 0;
		color: black;
		font-family: "Droid Serif", serif;
		font-weight: bold;
		font-size: 12px;
		font-size: 1.2em;
	}
}

.searchbox {
	margin-bottom: 10px;
}

.search-lefthalf {
	.clearfix;
	width: 100%;
}

.search-righthalf {
	.clearfix;
	width: 100%;
	.border-radius(6px);
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(240, 240, 240);
	/* RGBa with 0.6 opacity */
	background: rgba(240, 240, 240, 0.6);
	padding: 3px 8px;

	margin-top: 2em;
}

#adv-search {
	margin: 10px;
	font-size: 150%;

	img {
		width:30px;
		height:30px;
		margin: 0 5px -8px 0;
	}
}

.results-box {
	margin-bottom: 1em;
}


.post-card-horizontal {
	
	.clearfix;

	img {
		display: inline-block;
		height:auto;
		width: 80%;
		margin-left: 10%;
	}

}


.search-post-title {
	
	margin: 0;
	width: 85%;

	a {
		color: @hhp-headercol2;
		font-family: 'Droid Serif', serif;
		font-size: 150%;
		font-weight: bold;
	}
}

.tag-category {
	float: left;
	background-color: #43AACC;
	padding: 0.2em 1em;
	margin: 0 0 10px 5px;
	
	a {
		color: white;
		font-weight: bold;
    }
}



[class*="tag-loc-"] {
	padding: 0.2em 1em;
	margin: 0 0 10px 5px;
	color: white;
	font-weight: bold;
}

.tag-loc-changhua {
	background-color: #00736c;
}

.tag-loc-chiayi {
	background-color: #aa8c26;
}

.tag-loc-hsinchu {
	background-color: #aa3226;
}

.tag-loc-hualian {
	background-color: #9a4ba3;
}

.tag-loc-kaohsiung {
	background-color: #004173;
}

.tag-loc-matsu {
	background-color: #c72a83;
}

.tag-loc-miaoli {
	background-color: #5c8ca8;
}

.tag-loc-nan-tou {
	background-color: #35cb43;
}

.tag-loc-pingtung {
	background-color: #3566cb;
}

.tag-loc-taichung {
	background-color: #2eb6a4;
}

.tag-loc-tainan {
	background-color: #c1c727;
}

.tag-loc-taipei-taiwan {
	background-color: #fa6a75;
}

.tag-loc-taitung {
	background-color: #c85c1b;
}

.tag-loc-taoyuan {
	background-color: #1b8dc8;
}

.tag-loc-yi-lan {
	background-color: #59339e;
}

.tag-loc-yunlin {
	background-color: #339e54;
}

#searchform_top {
	display: none;
}

#searchform_top_m {
	width: 100%;
	margin-top: 40px;
	padding: 6px;
	background-color: @hhp-themecol-light;

	input {
		width: 93%;
		padding: 4px;
	}
}

// ******************
// Floating buttons 
// ******************

.goto-btn {
	.boxed;
	.border-radius(6px);
	background-color: @hhp-sea-blue-light;
	position: fixed;
	z-index: 100;
	text-align: center;

	a{
		text-decoration: none;
		font-weight: 600;
		font-size: 120%;
		color: @hhp-sea-blue-dark;
	}
}

#goto-top {
	bottom: 70px;
	//right: 120px;
}

#goto-placeinfo {
	bottom: 20px;
	//right: 10px;
}


.icon-goup::before { 
	content: "";
	font-size: 2rem;
}
.icon-goup {
	color: @hhp-sea-blue-dark;
	float:none;
	height: 30px;
	width: 30px;
}

// ************************
// Travel Resources Styles
// ************************

.tr-card {
	position: relative;
	background: @white;
	width: 90%;
	height: 350px;
	margin: 0 auto 20px auto;
	font-size: 120%;

	overflow: hidden;

	.tr-card-img {
		overflow: hidden;
		height: 180px;
		width: 100%;
	}
	.tr-card-img img {
		position: relative;
	}

	.tr-card-title {
		overflow: hidden;
		text-align: center;
		margin-top: 2px;
		height: 40px;

		h3 {
			line-height: normal;
			font-weight: bold;
			margin: 0;
			padding: 2px;
		}
		
	}

	.tr-excerpt {
		padding: 0 8px;
		word-wrap: break-word;
	}

	.tr-card-footer {
		position: absolute;
		width:100%;
		min-height: 20px;
		bottom: 0;
		text-align: center;

		z-index: 3;
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(234,248,255,1) 21%, rgba(153,222,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(21%,rgba(234,248,255,1)), color-stop(100%,rgba(153,222,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(234,248,255,1) 21%,rgba(153,222,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(234,248,255,1) 21%,rgba(153,222,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(234,248,255,1) 21%,rgba(153,222,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(234,248,255,1) 21%,rgba(153,222,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#99deff',GradientType=0 ); /* IE6-9 */
	}

	.tr-promo-period {
		margin: 8px 2px 2px 2px;

		p {
			margin: 0;
			color: green;
			font-weight: 600;
		}
	}

	.tr-card-buynow {
		a {
			width: 80%;
			margin: 5px;
		}
	}

}

// ************************
// Sample Itinerary Styles
// ************************

.sampiti_day_container {
	background: @hhp-themecol-light;
	.border-radius(8px);
	padding: 10px;
	margin: 6px 0;

	h3 {
		color: @white;
		font-weight: bold;
		font-size: 1.5rem; font-size: 15px;
	}
}

.sampiti_place {
	background-color: white;
	.boxShadow(-1px,-1px,0,0,#A6BBB7);
	margin: 10px;
	padding: 0;
}

.sampiti_media {
	height: 140px;
	margin: 0;
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
  	cursor: pointer;
}

.sampiti-place-title {
	color: @hhp-themecol-dark;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 25px;

	a, a:visited {
		color: @hhp-themecol-light;
		text-decoration: underline;
	}
}

.sampiti_content {
	padding: 10px;
}

.btn-swap-place {
	color: @hhp-themecol-light;
	background-color: white;
	font-family: Papyrus, fantasy;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 6px;
	line-height: 1.1;
}

.ib-panel {
	background-color:white;
	border-bottom: 4px double #d5d5d5;
	padding: 0.5em;
}


#desk-iti-form {
	select {
		width: 100%;
		background: none;
	}
}

#itibuilder-control {
	padding: 0 15px;
}

#iti-control-submit {
	width:100%;
	padding: 10px;
	margin: 10px 0;
	font-size: 16px;
}

.iti-details-arrow {
	margin: 100px 0 0 0;
}

.iti-next-arrow {
	margin: 0 0 30px 0;
}

.iti-prev-arrow {
	margin: 0;
}

.iti-overview-arrow {
	display: none;
}

.iti-arrow-back {
	width: 40px;
	height: auto;
}

#control-prov {
	width: 100%;
	
	td {
		padding: 0px 6px 9px 0px;
	}
}

.cbox-prov-sel {
	font-size: 40px;
}

#hl-container {
	display: none;
}

#hl-container-mobile {
	width: 50%;
	float: right;
}

#hl-go-details {
	display: none;
}

.hl-div-mobile {
	margin-bottom: 10px;
	overflow: hidden;
	max-height: 60px;
}

.hl-placename-box {
	height: 3em;
	overflow: hidden;
	margin: 10px 0;
}


.iti-highlight-mobile {
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
	background-size: 200%;
	background-position: center;

	width: 60px;
	height: 60px;
	float: left;	
}

.iti-action-btn {
	display: none;
}

#iti-maps {
	position: relative;
	margin-top: 0px;
	width: 50%;
	float: left;
}

.iti-overlay-map {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#iti-trail {
	display: none;
}

#iti-trail-mobile {
	display: block;
	position: relative;
}

.iti-trail-track {
	//width:100%;
}

.iti-trail-track-mobile {
	width:100%;
	height:50px;
	margin: 20px 0 40px 0;
}

.iti-trail-mark {
	position: absolute;
	left: 28px;
	top: 50px;
}

.iti-trail-mark-mobile {
	position: absolute;
	left: 2%;
	top: 48px;
}

.iti-trail-label-mobile {
	position: absolute;
	text-align: center;
	left: 1%;
}

#iti-navi {
	display: none;
}

//This should be hidden on larger screens
#sticky-footer-toolbar {
	position: fixed; 
	clear: both; 
	width: 100%; 
	//height: 120px; 
	height: 60px; 
	bottom: 0; 
	border: none; 
	padding: 0; 
	color: white; 
	background-color: @hhp-themecol-light; 
}

//This should be hidden on smaller screens
#sticky-sidebar {
	display: none;
}

.footer-tb-button {
	position: relative;
	float: left;
	width: 33.33333%;
	height:60px;

	color: white; 
	background-color: @hhp-themecol-light;
	border-top: solid 2px @hhp-themecol-dark;
	border-right: solid 1px @hhp-themecol-dark;
	border-left: solid 1px @hhp-themecol-dark;
}

.footer-pagination {
	height: 60px;
	width: 100%;
	background-color: white;
	color: @hhp-themecol-light;
}

.ib-pagebtn {
	position: relative;
	float: left;

	text-align: center;
	vertical-align: middle;
	//line-height: 60px;
	height: 60px;
	font-weight: bold;
	font-size: 20px;
}

.ib-sides {
	width: 20%;
}

.ib-mid {
	width:20%;
}

#ib-pagebtn-sel {
	background: url(../images/page_btn_bg_sel.png) no-repeat;
	background-size: 40px 40px;
	background-position: center;
}

#ib-pagebtn-prev {
	background: url(../images/page_btn_prev.png) no-repeat;
	background-size: 40px 40px;
	background-position: right;
}

#ib-pagebtn-next {
	background: url(../images/page_btn_next.png) no-repeat;
	background-size: 40px 40px;
	background-position: left;
}

#ib-pagebtn-edit {
	background: url(../images/ib_btn_edit.png) no-repeat;
	background-size: 40px 40px;
	background-position: center;
}

#ib-pagebtn-export {
	background: url(../images/ib_btn_export.png) no-repeat;
	background-size: 40px 40px;
	background-position: center;
}

.ib-daybox {
	.border-radius(8px);
	border-style: solid;
    border-width: 1px;
    border-color: #C8C8C8;
    padding: 8px;
    margin-bottom: 20px;
    .transition(opacity,0.5s);
    opacity: 1;
	height: auto;
}


.ib-daylabel {
	.border-radius(8px);
	width: 48px;
	height: 48px;
	background-color: @hhp-themecol-light;
	margin-bottom: 5px;
	float: left;

	p {
		.text-center;
		font-weight: bold;
		margin: 0;
		padding-top: 4px;
		color: white;
	}

	.ib-daynum {
		font-size: 20px;
		padding-top: 0;
		margin-top: -4px;
	}
}


.ib-day-header {
	line-height: 48px;
	padding: 8px;
	color: @hhp-themecol-darker;
	font-size: 20px;
}


.ib-place-entry {
	.clearfix;
	margin: 4px 0px;

	.ib-place-img {
		float: left;
		width: 30%;
		max-height: 90px;
		overflow: hidden;

		img {
			width:100%;
		}
	}

	.ib-place-rightcol {
		float: left;
		width: 70%;
	}
}


.ib-btn-swap {
	float: right;
	width: 62px;
	height: 20px;
	line-height: 20px;
}


.ib-place-title {
	font-size: 16px;
	padding-left: 5px;
	margin-top: 3px;
	color: @hhp-basetext;
}


.btn_goto_itiday_row {
	
}

.btn_goto_itiday {
	width: 21%;
	padding-bottom: 21%;
	height: 0;
	position: relative;

	margin: 2%;
	float: left;
	text-align: center;
	font-weight: bold;
	background-color: @hhp-themecol-light;
	color: @white;
}

.swap-titlebar-hidden .ui-dialog-titlebar {
	display: none;
}

.swap-dialog-title {
	font-size: 15px;
}

#swap-from-placename {
	color: @hhp-dark-orange;
	font-weight: bold;
}


.swapchoice-title {
	color: @hhp-themecol-darker;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 2px;
}


.swapchoice-excerpt {
	margin: 0px;
	padding-top: 2px;
	font-style: italic;
	font-size: 11px;
}


.swap-dialog-btn1 {
	width: 60px;
	height: 28px;
	line-height: 28px;
	margin-top: 8px;
	font-size: 13px;
}

.swapchoice-img-div {
	width: 100px;
	height: 75px;
	overflow: hidden;
	float: left;

	.swapchoice-thumburl {
		width: 100%;
		height: auto;	
	}
}


.sft-panel {
	.transition(opacity,0.5s);
	opacity: 1;
	overflow-y: scroll;
	position: fixed;
	bottom: 60px;
	clear: both;
	width: 80%;
	height: auto;
	margin: 0 10%;
}


.sft-p-hidden {
	opacity: 0;
	height: 0;
	overflow: hidden;
}

