/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/

/*********************
CLEARFIXIN'
*********************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

.clear {
	clear: both;
}

/*********************
TOOLS
*********************/

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing:    border-box; 
	box-sizing:         border-box; 
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ 
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

img.clickable:hover {
	cursor: pointer;
	cursor: hand;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

@alert-yellow:       #ebe16f;
@alert-red:          #fbe3e4;
@alert-green:        #e6efc2;
@alert-blue:         #d5edf8;

@black:              #000;
@white:              #fff;
@light-black:        #3a3a3a;

@fb_blue:			 #3B5999;

@hhp-dark-orange:    #FF6600;
@hhp-light-orange:   #FFC549;
@hhp-sea-blue-light: #d7edf5;
@hhp-sea-blue-dark:  #43AACC;
@hhp-med-teal:       #AECDC6;
@hhp-dark-teal:      #8AB7AC;

//@hhp-background:     #EEF1F3;
@hhp-background:     @white;
@hhp-basetext:       #666;
@hhp-logoblue:       #45CBFF;
//@hhp-themecol-light: #3cb4e3;
@hhp-themecol-lightest: #8CFCFF;
@hhp-themecol-light:    #40c0ff;
@hhp-themecol-dark:     #01a2e1;
@hhp-themecol-darker:   #1c87b1;

@hhp-headercol:      @hhp-dark-orange;
@hhp-headercol2:     #9BB0AB;

@hhp-place-cat-col:  @hhp-sea-blue-dark;
@hhp-place-loc-col:  #FF6976;

@link-color:        @hhp-dark-teal;
@link-hover:        @hhp-med-teal;

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/


/*********************
TYPOGRAPHY
*********************/

@sans-serif:         Verdana, Helvetica, Arial, sans-serif; 
@serif:              "Georgia", Cambria, Times New Roman, Times, serif; 

/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.


@font-face {
  	font-family: 'Font Name';
   	src: url('../fonts/font-name.eot');
   	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-name.woff') format('woff'),
         url('../fonts/font-name.ttf') format('truetype'),
         url('../fonts/font-name.svg#font-name') format('svg');
   	font-weight: normal;
   	font-style: normal;
}
*/

@font-face { 
  font-family: "icons"; 
  src: url("../fonts/entypo.eot"); 
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), 
  	url("../fonts/entypo.woff") format("woff"), 
  	url("../fonts/entypo.ttf") format("truetype"), 
  	url("../fonts/entypo.svg#icons") format("svg"); 
  font-weight: normal; 
  font-style: normal;
}

@font-face { 
  font-family: "icons_social"; 
  src: url("../fonts/entypo-social.eot"); 
  src: url("../fonts/entypo-social.eot?#iefix") format("embedded-opentype"), 
  	url("../fonts/entypo-social.woff") format("woff"), 
  	url("../fonts/entypo-social.ttf") format("truetype"), 
  	url("../fonts/entypo-social.svg#icons_social") format("svg"); 
  font-weight: normal; 
  font-style: normal;
}

@font-face {
    font-family: 'kingthings_petrockregular';
    src: url('../fonts/Kingthings_Petrock-webfont.eot');
    src: url('../fonts/Kingthings_Petrock-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kingthings_Petrock-webfont.woff') format('woff'),
         url('../fonts/Kingthings_Petrock-webfont.ttf') format('truetype'),
         url('../fonts/Kingthings_Petrock-webfont.svg#kingthings_petrockregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	color: @hhp-headercol;
	font-family: @sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 400;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a, a:visited {
		color: @hhp-headercol;
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.2em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	font-weight: 600;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
  font-style: italic;
}

/* text alignment */
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

/* floats */
.float-left  { float: left; }
.float-right { float: right; }

.no-decoration { text-decoration: none; }

// alerts and notices
.alert {
	margin: 10px;
	padding: 5px 18px;
	border: 1px solid;
}

.alert-help {
  .alert();
	border-color: darken(@alert-yellow, 5%);
	background: @alert-yellow;
}

.alert-info {
  .alert();
	border-color: darken(@alert-blue, 5%);
	background: @alert-blue;
}

.alert-error {
  .alert();
	border-color: darken(@alert-red, 5%);
	background: @alert-red;
}

.alert-success {
  .alert();
	border-color: darken(@alert-green, 5%);
	background: @alert-green;
}

.text-lblack-caps {
	color: @light-black;
	text-transform: uppercase;
}

/*********************
BORDER RADIUS
*********************/

/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
.border-radius(@radius: 4px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}


/*********************
TRANISTION
*********************/

/* .transition(all,2s); */
.transition(@what: all, @time: 0.2s, @transition: ease-in-out) {
	-webkit-transition: @what @time @transition;
	-moz-transition:    @what @time @transition;
	-ms-transition:     @what @time @transition;
	-o-transition:      @what @time @transition;
	transition:         @what @time @transition;
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/

/* .css-gradient(#dfdfdf,#f8f8f8); */
.css-gradient(@from: #dfdfdf, @to: #f8f8f8) {
	background-color: @to;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background-image: -webkit-linear-gradient(top, @from, @to);
	background-image: -moz-linear-gradient(top, @from, @to);
	background-image: -o-linear-gradient(top, @from, @to);
	background-image: linear-gradient(to bottom, @from, @to);
}

.css-gradient-LR(@from: #dfdfdf, @to: #f8f8f8) {
	background-color: @to;
	background-image: -webkit-gradient(linear, left top, right top, from(@from), to(@to));
	background-image: -webkit-linear-gradient(left, @from, @to);
	background-image: -moz-linear-gradient(left, @from, @to);
	background-image: -o-linear-gradient(left, @from, @to);
	background-image: linear-gradient(to right, @from, @to);
}



/*********************
BOX SHADOW
*********************/

/* .boxShadow(0,0,4px,0,#444); */
.boxShadow(@x: 0, @y: 0, @radius: 4px, @spread: 0, @color: rgba(0,0,0,0.5)) when (isnumber(@x)) {
	-webkit-box-shadow: @x @y @radius @spread @color;
	   -moz-box-shadow: @x @y @radius @spread @color;
			box-shadow: @x @y @radius @spread @color; 
}
/* .boxShadow(none); */
.boxShadow(@x: none) when (iskeyword(@x)) {
	-webkit-box-shadow: @x;
	   -moz-box-shadow: @x;
			box-shadow: @x; 
}


.boxed {
	background-color:white;
	border:1px solid #d5d5d5;
	padding: 0.5em;
}

/*********************
BUTTONS
*********************/

.button, .button:visited {
	/*border: 1px solid darken(@bones-pink, 13%);
	border-top-color: darken(@bones-pink, 7%);
	border-left-color: darken(@bones-pink, 7%);
	padding: 4px 12px;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px rgba(0,0,0, .75);
	.css-gradient(@bones-pink,darken(@bones-pink, 5%));
	*/
	background:url(../images/arrow-right.png) no-repeat 5px 5px @hhp-themecol-light;
	background:url(../images/arrow-right.png) no-repeat 0.5rem 0.5rem @hhp-themecol-light;
	border:none;
	padding: 3px 12px 3px 25px;
	color: @white;
	display: inline-block;
	cursor: pointer;
	//font:normal 9px "Droid Serif", serif; font:normal 0.9rem "Droid Serif", serif;
	font-family:'Oswald', Arial, sans-serif;
	//font-weight: bold;
	text-decoration: none;
	line-height: 21px;
	.transition();
	.border-radius(4px);
	

	&:hover, &:focus {
		background-color:@hhp-logoblue;
		color: @white;
		/*
	  	border: 1px solid darken(@bones-pink, 13%);
	  	border-top-color: darken(@bones-pink, 20%);
	 	border-left-color: darken(@bones-pink, 20%);
		.css-gradient(darken(@bones-pink, 5%),darken(@bones-pink, 10%));
		*/
	}
	
	&:active {
		.css-gradient(darken(@hhp-logoblue, 5%),@hhp-logoblue);
	}	
}

.orange-button, .orange-button:visited {
	background-color: @hhp-light-orange;
	padding: 3px 12px;
	color: @white;
	font-weight: 600;
	display: inline-block;
	cursor: pointer;
	//font:normal 9px "Droid Serif", serif; font:normal 0.9rem "Droid Serif", serif;
	font-family:'Oswald', Arial, sans-serif;
	//font-weight: bold;
	text-decoration: none;
	line-height: 21px;
	.transition();
	.border-radius(4px);

	&:hover, &:focus {
		background-color: darken(@hhp-light-orange, 15%);
		color: @black;
	}

}


.blue-pill-button {
	background: url(../images/ib-btn-swap.png) no-repeat;
	background-size: 100% 100%;

	font-weight: bold;
	font-size: 11px;
	color: @hhp-themecol-dark;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
}