/* CSS For admin page - Sample Itinerary edit */

#admin_sampiti_container {
	width: 100%;
}

.admin_sampiti_day {
	padding: 10px;
	border: rgb(103, 213, 255);
	border-width: 4px;
	border-style: outset;
	margin-bottom: 10px;

	.admin_sampiti_btndel {
		float: right;
	}

	.admin_sampiti_btndelplace {
		margin-left: 4px;
	}

	th {
		padding-right: 4px;
	}
}
