/* CSS For admin page - Posts edit */

#hhp_posts_promo_meta_box {

}

.cell-stackable {
	display: inline-block;
	float: left;
	margin: 5px 10px;
}

.clear {
	clear:both;
}

.full-row {
	width: 100%;
	margin: 10px 2px;

	input {
		width: 85%;
	}
}