/******************************************************************
Site Name: 
Author: 

Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your 
functions file) on the login page. This way you can style 
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/

// import mixins
@import "_mixins.less";

//**********
// For icons
//**********

//This selector allows you to add an icon to any tag you want 
//using a class that contains the string “icon-”.
[class*="icon-"] { 
  background-image: none; 
  display: inline; 
  font-size: 1em;
  font-style: normal !important; 
  font-weight: normal !important; 
  height: 1em;
  overflow: visible; 
  width: 1em;
}

[class*="icon-"]::before {
  content: '+';
  display: inline-block;
  font-family: "icons", "icons_social", fantasy !important;
  line-height: 1;
  position: relative;
  top: -2px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

//Create a class called hide that will hide any text you want to 
//include for SEO and backwards compatibility. Apply this class 
//to any child element within the tag you are using to create the 
//actual icon.
.hide {
  clip: rect(1px, 1px, 1px, 1px);
  height: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}


.icon-login-fb::before { 
	content: "";
	font-size: 3rem;
	line-height: 0.5;
}
.icon-login-fb {
	color: @white;
	float:left;
	margin-left: 4px;
}

#fb_login_form {
	text-align: center;
	margin: 10px 0 20px 0;
	padding: 8px;

	background: white;
	border: 1px solid #E5E5E5;
	.border-radius(3px);

	p {
		vertical-align:top;
		font-size: 120%;
		color: #777;
	}

	a {
		text-decoration: none;
		color: @white;
		font-weight: 600;
	}

	#btn_login_with_fb {
		.border-radius(6px);
		padding: 10px 5px;
		
		background-color: @fb_blue;
	}

	#fb_login_loading {
		background: url(../images/rect-loader.gif) no-repeat top center;
		width: 100%;
		height: 20px;
	}
}


#login {
	width: 320px;
	padding: 8% 0 0;
	margin: auto;
} /* the form box */

body.login {
	/*
	This is the Wordpress logo in the admin area.
	You'll have to load your own images and mess
	with the width and height.
	*/
	h1 a {
		background: url(../images/hhp_logo2_small.png) no-repeat top center; /* make sure to replace this! */
		width: 140px;
		height: 140px;
		text-indent: -9999px;
		overflow: hidden;
		padding-bottom: 15px;
		display: block;
		margin: 0 auto 25px;
	}
	

	form {
		margin-left: 8px;
		padding: 26px 24px 46px;
		font-weight: normal;
		background: white;
		border: 1px solid #E5E5E5;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
				border-radius: 3px;
		-webkit-box-shadow: none;
		 -khtml-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}
	
	form .input {
		font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
		font-weight: 200;
		font-size: 20px;
		width: 97%;
		padding: 3px;
		margin-top: 2px;
		margin-right: 6px;
		margin-bottom: 16px;
		border: 1px solid #E5E5E5;
		background: #FBFBFB;
		outline: none;
		-webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
		   -moz-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
			box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
	}

	form input#user_dob {
		width: 80%;
	}
	
	/*
	You'll have to override some of the default styles
	but since we're referencing the id, it should be easy.
	*/
	#wp-submit {} /* login button*/


	.form-title {
		color: @hhp-logoblue;
		font-size: 150%;
		text-align: center;
	}

	#login_error {
		border-left: 4px solid #dd3d36;
		background: #fff;
        -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); 
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);

        margin-bottom: 10px;
		padding: 12px;
	}

	#logintext_or {
		font-size: 120%;
		color: #777;
		text-align: center;
		margin-bottom: 10px;
	}

} 
